/* Глобальные стили */
.centered {
    text-align: center;
}

.error {
    color: #A60000;
}

.red {
    color: #B94A48;
}

.green {
    color: #468847;
}

.blue {
    color: #0088cc;
}

.imgicon {
    background-image: url('../img/icons_bw.png');
    background-repeat: none;
    width: 64px;
    height: 64px;
    display: block;
}

.imgicon:hover, .imgicon.hover, *:hover>.imgicon {
    background-image: url('../img/icons.png')
}

.imgicon.add {background-position: 0 0;}
.imgicon.user {background-position: -64px 0;}
.imgicon.bubble {background-position: -128px 0;}
.imgicon.card {background-position: -192px 0;}

.imgicon.gear {background-position: 0 -64px;}
.imgicon.house {background-position: -64px -64px;}
.imgicon.key {background-position: -128px -64px;}
.imgicon.graph {background-position: -192px -64px;}

.imgicon.search {background-position: 0 -128px;}
.imgicon.flag {background-position: -64px -128px;}
.imgicon.cert {background-position: -128px -128px;}
.imgicon.wand {background-position: -192px -128px;}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

body {
    background: url('../img/roughcloth_121.png') repeat-y;
}

h1 {
    font-weight: normal;
    font-size: 32px;
}

h2 {
    font-weight: normal;
    font-size: 30px;
}

.boxshadow {
    -webkit-box-shadow: 0px 0px 10px 0px #CCCCCC;
    -moz-box-shadow: 0px 0px 10px 0px #CCCCCC;
    box-shadow: 0px 0px 10px 0px #CCCCCC;
}


/*a, a:link, a:hover, a:active, a:visited {
    color: #222222;
}*/

/*a:visited {*/
    /*color: #005580;*/
/*}*/

a:hover {
    text-decoration: none;
}

.vertical-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.ui-datepicker-trigger {
    margin: 5px 0px 0px 3px;
    vertical-align: middle;
}

.center-aligned {
    text-align: center;
}
.left-aligned {
    text-align: left;
}
.right-aligned {
    text-align: right !important;
}

.quiet {
    color: #DDD;
}

.data-table .icon-question-sign{
    font-size: 16px !important;
}

/*** Zenforms ***/
.bsmListItemLabel{
    margin-right: 61px;
}

/*** Загрузка таблицы ***/
.loading-initial {
    width: 100%;
    height: 300px;
    border: 1px solid #DDD;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
}

.loading-initial:after {
    background: url('../img/loading.gif') no-repeat left center;
    content: "Загрузка";
    color: #666;
    font-size: 16pt;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 40%;
    line-height: 32px;
    padding-left: 36px;
}

.loading-blockui:after {
    background: url('../img/loading.gif') no-repeat left center;
    content: "Загрузка";
    color: #666;
    font-size: 16pt;
    font-weight: bold;
    position: relative;
    line-height: 32px;
    padding-left: 36px;
    width: 100%;
    height: 100%;
}

/**** Сортировка таблицы ****/

.data-table table thead th.sortable {
    cursor: pointer;
}

.data-table table thead th.sortable:hover {
    background: #DDD;
}

.data-table table thead th.sortable.asc:after {
    content: ' ↓';
}

.data-table table thead th.sortable.desc:after {
    content: ' ↑';
}

.data-table .sorting span, .data-table .sorting .label {
    float: left;
}

.data-table .sorting span, .data-table .sorting .label {
    line-height: 1.5em;
}

.data-table .sorting .label {
    padding-right: 1.5em;
    margin: 2px;
}

.data-table .sorting .label a.close {
    width: 0;
    height: 0;
}

table.table.table-bordered tr.highlight td {
    background: yellow;
}

/**** Формочка поиска заявки ****/
.queue-forms .requestion {
    float: right;
}


/*** Форма фильтра заявок ***/
.queue-forms .extrasearch {
    float: left;
}

.queue-forms .toggler:hover {
    background-color: #F0F0F0;
    cursor: pointer;
    border-bottom: grey dashed 1px;
}

/* паджинация таблицы*/
.pagination-page {
  padding-top: 15px;
  margin-bottom: 60px;
  text-align: center;
}
.pagination-page .page {
  display: inline-block;
  text-align: center;
  border-bottom: grey solid 3px;
    margin: 0 3px;
    width: 36px;
}

.pagination-page .page.arrow {
    width: 70px;
}

.pagination-page .page:hover {
  background: #F0F0F0;
  border-bottom-color: #333;
}

.pagination-page .page.arrow {
    border: none;
}

.pagination-page  .page *  {
  display: block;
  line-height: 36px;
  color: #666;
  text-decoration: none !important;
}

.pagination-page .current-page {
  width: 36px;
  line-height: 36px;
  background: #333;
  border-bottom-color: #333;
  /*cursor: default;*/
}

.pagination-page  .current-page span {
    color: white;
}

.pagination-page  .current-page:hover {
  background: #333 !important;
}

/*** Подсветка найденной заявки ***/
#queue_table .highlight, #queue_table .highlight td {
    background-color: yellow;
}

#queue_table .distributed_sadik{
    text-align:center;
    font-size: 17px;
}

#queue_table #requestion-number-head{
    min-width: 170px
}

#queue_table .requestion-number .social-button{
    float:left;
    height:1px;
    width: 20px;
    margin-right: 3px
}

#queue_table .requestion-number img{
    float:left;
}

/**** Queue tooltips ****/
.requestion-number-tooltip li img{
    vertical-align: middle;
}

/**** Кнопочка "Наверх" при скорллинге таблицы ****/
#up {
    height: 30px;
    width: 120px;
    color: #117eff;
    cursor: pointer;
    background-color: rgba(17, 126, 255, 0.1);
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

#up:hover {
    background-color: rgba(17, 126, 255, 0.2);
}

/*** BlockUI ***/
.blockMsg {
    height: 40px;
    background: url('../img/loading.gif') no-repeat left center;
    color: #666;
    font-size: 16pt;
    font-weight: bold;
    line-height: 32px;
}

.errorlist li{
    color: #A60000;
}

/*** Uni Forms overrides ***/

#errorMsg h3 {
    margin: 1.5em 0;
}

.uniForm input.datepicker {
    margin: 0;
}

.uniForm input.datetimepicker {
    padding: 4px 2px;
    border: 1px solid #AAA;
    background: white;
}

.uniForm td {
    position: relative;
}

.uniForm #open_spoiler{
    padding: 0px 13px 10px;
    font-size: 14px;

}

#open_spoiler span.caret.caret-margins.caret-right{
    margin: 6px 5px 0px 2px;
}

#open_spoiler span.caret.caret-margins{ margin-top: 8px; }

.uniForm .birth_delta{
    float: left;
    margin: 0px;
    width: 53%;
}

.uniForm .birth_delta .birth_delta_box{
    float: left;
    text-align: left;
    width: 49%;
}
.uniForm .birth_delta #box_1{ margin: 0 0 0 2%; }

.uniForm .birth_delta .birth_delta_box label,
.uniForm .birth_delta .birth_delta_box input,
.uniForm .birth_delta .birth_delta_box img{
    display: inline;
}

.uniForm .birth_delta .birth_delta_box label{ margin: 2% 2% 0 0; }
.uniForm .birth_delta .birth_delta_box input{ width: 80% }
.uniForm .birth_delta .birth_delta_box img{ margin: 0 0 0 1%; }


.uniForm .ctrlHolder.error, .uniForm .ctrlHolder.focused.error {
    position: relative;
}

.uniForm .ctrlHolder.error input.error,
.uniForm .ctrlHolder.error select.error,
.uniForm .ctrlHolder.error textarea.error {margin: 0;}

.uniForm .errorlist {
    position: absolute;
    top: 0;
    right: 0;
}

.uniForm .errorlist li {
    margin: 0 0 3px 1.5em;
    padding: 3px;
    background: #F6BEC1;
    position: relative;
    font-size: .85em;
    border-radius: 4px;
    color: #A60000
}

.uniForm .buttonHolder .secondaryAction{
    padding: 10px 22px;
    line-height: 1;
    background: #6c7586;
    border: 1px solid #4c5262;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    /* CSS3 */
    border-radius:         4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    -o-border-radius:      4px;
    -khtml-border-radius:  4px;
    box-shadow: 1px 1px 0 #fff;
    -webkit-box-shadow: 1px 1px 0 #fff;
    -moz-box-shadow: 1px 1px 0 #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,.25);
}


.uniForm .buttonHolder .primaryAction:disabled{
    padding: 10px 22px; line-height: 1;
    background: #3b5486;
    border: 1px solid #354562;
    color: #cacaca;
}
.uniForm .buttonHolder :active:disabled{
    position: relative;
    top: 0;
}
.uniForm .secondaryAction:disabled{
    color: #9f9f9f;
}

.uniForm .required input {
    border-color: #666;
}

.uniForm .required label {
    font-weight: bold;
}

.uniForm .required label:after {
    content: " *";
}

.uniForm .readOnly {
    font-size: 1em;
    position: relative;
}

.uniForm .readOnlyLabel {
    color: #666;
    font-weight: normal;
}

.uniForm .readOnly .choice {
    font-size: 1.5em;
}

.uniForm .readOnly .formHint {
    right: 0;
    bottom: 0.3em;;
    width: auto;
}

.uniForm label.checkbox{
    float: left;
    width: 53% !important;
}

/**** Header ****/

.header {
    float:left;
    width: 100%;
    height: 53px;
    /*background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);*/
   background: url("../img/header_bg.png");
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.header .logo {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.header .logo a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 45px;
}

.header .logo a:visited,
.header .logo a:focus,
.header .logo a:hover,
.header .logo a:active {
    color: #FFFFFF;
}

.header .logo a img {
    vertical-align: middle;
    float: left;
    margin: 5px 25px 0px 0px;
}

.header .logo a:link {
    text-decoration: none;
}

.header .logarea .signup a,
.header .logarea .signup a:visited,
.header .logarea .signup a:focus,
.header .logarea .signup a:hover,
.header .logarea .signup a:active{
    font-size: 16px;
    color: #FFFFFF;
}

.header .logarea .signup li{
    margin-right: 10px;
    line-height: 45px;
}

.header .logarea ul li{
    list-style: none;
}

.dropdown{
    height: 42px;
    padding-top: 10px;
    float: right;
}

.header .logarea .dropdown-toggle{
    background-color: transparent;
    color: #FFFFFF;
    padding-top: 10px;
    margin-top: 1px;
}

.header .logarea .dropdown-toggle .avatar{
    float:left;
    margin-right: 10px;
}

.header .logarea .dropdown-toggle p{
    float:left;
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
}

.header .logarea .dropdown-toggle .selector{
    margin-right: 10px;
    margin-top: 13px;
}

.header_warn {
    float:left;
    width: 100%;
}

.dropdown-menu{
    left: auto;
    right: 0px;
}

/*** Стили страниц ****/

/* Добавление заявки */
.requestion-add-form select{
    margin-left: 0px !important;
}

.requestion-add-form .bsmList{
    margin-bottom: 0px;
}

.requestion-add-form .bsmListItem{
    margin-right: 110px;
}

.requestion-add-form .ui-datepicker-trigger{
    margin-top: -5px;
}

.requestion-add-form #account-requestion-map{
}

.requestion-info .small-field .field-value{
    font-size: 13px !important;
    min-height: 20px;
    margin-top: 0px;
}

.requestion-add-form input{
    width: 100%
}

.requestion-add-form input.hasDatepicker{
    width: 94%
}

.requestion-add-form .field{
    margin-bottom: 5px;
}

.map-legend{
    list-style-type: none;
}

.map-legend li{
    margin-bottom: 10px;
    color: #a9a9a9;
}

.map-legend li img{
    vertical-align: middle;
}

/* Распределение */
.inactive_requestion a{
    color: gray;
}

.decision_requestion a{
    color: #008000;
}

.on_decision_requestion a{
    color: #ff0000;
}

.current_group {
    color: #008000;
}

.location_save_actions{
    height: 25px;
}

.loaction_save_actions span{
    text-align: center;
}

/**** Футер ****/

.stickyfooter {
    background: url("../img/footer_bg.png");
    color: #ffffff;
}

.stickyfooter .footer-content{
    max-height: 95px;
    padding-top:15px;
    overflow: hidden;
}

.stickyfooter .footer-content div {
    float:left;
}

.stickyfooter a,
.stickyfooter a:visited,
.stickyfooter a:focus,
.stickyfooter a:link,
.stickyfooter a:active {
}

.stickyfooter strong {
    white-space: nowrap;
}

.stickyfooter .footer-logo{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 110px;
    min-height: 1px;
    font-size: 10px;
    overflow: hidden;
}

.stickyfooter .footer-logo img{
    max-width: 100px;
    max-height: 80px;
    margin-top: 2px;
}

.stickyfooter .footer-description{
    width: 400px;
    padding: 0px 10px;
}

.stickyfooter .footer-phone{
    width: 275px;
    padding-left: 10px;
}

.stickyfooter .footer-phone .phone-number{
    font-size: 25px;
    padding-top: 5px;
}

.stickyfooter .phone-description{
    font-size: 12px;
}

.stickyfooter .footer-links a{
    font-size: 16px;
    color: #ffffff;
}

.stickyfooter .rslogo {
    float: right !important;
    margin: 10px 20px 0px 20px;
    text-align: right;
}

/* Sticky Footer by Ryan Fait http://ryanfait.com/ */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -110px; /* the bottom margin is the negative value of the footer's height */
}

.stickyfooter, .stickyfooterpush {
    height: 110px; /* .push must be the same height as .footer */
    clear: both;
}

.queue-table .documental-confirmation-cell {
    width: 100px;
}

.left-menu {
    width: 120px;
    float:left;
    margin-left: -100%;
}

.left-menu ul li.active{
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    background-color: #f1f5f1;
}

.left-menu ul li {
    width: 120px;
    height: 120px;
    border-right: 1px solid #c8ad43;
    border-bottom: 1px solid #c8ad43;
    background-color: #ffdc51;
}

.left-menu ul li:hover{
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.left-menu ul li i {
    position: absolute;
    left: 28px;
    top: 28px;
}

.left-menu ul li a{
    text-align: center;
    position: relative;
    height: 120px;
    width: 120px;
    color: #000000;
}

.left-menu ul li a p{
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 0px 0px 5px 0px;
}

.wrapcontent{
    float: left;
    width: 100%;
}

.content{
    background-color: #FFFFFF;
    margin-left:121px;
}

.content-header{
    background: url("../img/content_header_bg.png");
}

.content-header{
    border-bottom: 1px #bfd0bf solid;
    padding-left: 30px;
}

.content-header h1{
    color: #464646;
    padding: 20px 0px;
}

.content-menu{
    padding-left: 16px;
    margin:2px 0px 0px 0px;
    font-size: 0;
}

.content-menu li{
    list-style: none;
    display: inline-block;
    padding: 7px 10px 5px 10px;
    border: 1px #bfd0bf solid;
    border-bottom: 0;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.content-menu li:not(:first-child){
    border-left: none;
}

.content-menu li a{
    color: #737473;
}

.content-menu li.active{
    background-color: #FFFFFF;
}

.content-main {
    padding:30px;
}

.centering{
    width: 750px;
    margin-left: 200px;
}

/*Sadik info*/

.sadik_contacts{
    min-height: 310px;
    max-width: 900px;
}

.sadik_contacts dt{
    color: #666666;
    font-weight: normal;
    margin-top: 10px;
    font-size: 14px;
}

.sadik_contacts dd{
    margin: 0px;
    font-size: 17px;
}

#sadik_map{
    height: 300px;
    width: 570px;
    float: right;
}

.sadik_info_distributed .status{
    width: 30%;
}


/***** Requestion info ****/
ul.documents {
    list-style: none;
}

.documents i {
    font-size: large;
}

.row-delete {
    vertical-align: middle;
}

.add-row {
    margin-top: 10px;
}

#requestion_map{
    height: 300px;
}

/*** Форма редактирования документов ***/

#documents_form tr {
    height: 50px;
    line-height: 50px;
    margin: 3px;
}

#documents_form tr th {
    text-align: left;
}

#documents_form tr td {
    border-bottom: 1px solid #EEE;
}

#documents_form .row select {
    vertical-align: middle;
    float: none;
    display: inline;
}

tr.dynamic-form td {
    position: relative;
}

tr.dynamic-form td.error input {
    box-shadow: 0px 0px 5px 0px #A60000;
}

tr.dynamic-form .errorlist {
    position: absolute;
    left: 50px;
    width: 30em;
    background: #F6BEC1;
    color: #A60000;
    border-radius: 4px;
}


/** Карта садиков **/
#map {
    width: 100%;
    height: 600px;
}

/* bootstrap popover */
.popover-inner {
  width: 350px;
}

.requestion_blanks{
    margin-bottom: 15px;
}

.requestion_blanks div a{
    margin-bottom: 5px;
}

/* Страница статистики */
#group_choice ul{
    list-style-type: none;
    margin-left: 10px;
}

#group_choice ul li input{
    margin-right: 5px;
}

/* Главная страница оператора */
.blanks_drafts {
    font-size: 13pt;
}

.blanks_drafts li{
    list-style-type: none;
    margin-top: 3pt;
}

.confirmation-dialog{
    display: none;
}

/* Таблица с информацией о свободных местах */
.places-table .free-places{
    width: 20%;
}
.places-table .capacity{
    width: 20%;
}


/*страница профиля и заявки для заявителя*/
.requestion-info .block-head{
    font-size: 26px;
    color: #327fbd;
    margin-bottom: 8px;
    line-height: normal;
}

.requestion-info .block-head.top-indent{
    margin-top: 10px;
}

.requestion-block{
    padding-left: 10px;
    margin-bottom: 40px;
}

.requestion-block.gray{
    background-color: #fbfcfe;
}

.requestion-info .field-label{
    font-size: 16px;
    color: #a9a9a9;
}

.requestion-info .field-label.changed{
    color: #A60000;
}

.requestion-info .field-value{
    margin-top: 8px;
    font-size: 25px;
    min-height: 26px;
    margin-bottom: 0px;
    line-height: 100%;
}

.requestion-info .field-value .value{
    vertical-align: top;
}

.requestion-info [class*="span"]{
    margin-left: 0px;
    padding-left: 0px;
}

.vkontakte-info{
    margin-top: 34px;
    padding-top: 21px;
    border-top: 2px #eeeeee solid;
}

.social-profile-public{

}

#profile-form{
    font-size: 25px;
    height: 10px;
    margin: 3px 0px 15px 0px;
}

#profile-form select{
    border: 1px solid #d7d7d7;
    background-color: #fff;
}

#profile-form img{
    vertical-align: middle;
}

#profile-form input{
    margin-top: -5px;
}

.requestion-info .split-line{
    border-top: 2px #eeeeee solid;
    margin-bottom: 10px;
}

.requestion-queue .queue-info{
    color: #999999;
    margin-bottom: 10px;
}

.requestion-queue .queue-info p{
    margin: 0px;
    padding: 0px;
}

.requestion-queue .queue-info .number{
    color: #327fbd;
}

.vkontakte-info .controls{
    min-height: 32px;
}

.vkontakte-info p{
    font-size: 16px;
}

.requestion-info .loading{
    display: none;
}

.requestion-info .action-link{
    font-size: 16px;
    line-height: 32px;
    margin-left: 8px;
}

.requestion-info a.link-with-image img{
    float: left;
}

.requestion-info .status-not-approved{
    color: #d90000;
    font-size: 10px;
    display: block;
}

.requestion-info .status-approved{
    color: #00b22d;
    font-size: 10px;
    display: block;
}

.requestion-info .requestion-add{
    line-height: 20px;
}

.title-notification{
    width:50px;
    margin-left: 50px;
}

.document-info img{
    float: left;
    margin-top: 3px;
}

.document-info .field-value{
    line-height: normal;
    margin-left: 30px;
}

.requestion-map-header{
    margin: 35px 0px 10px 0px;
    font-size: 16px;
    color: #b20000;
    text-decoration: underline;
}

#account-requestion-map{
    height: 300px;
    margin-bottom: 10px;
}

.requestion-info .error #account-requestion-map {
    width: 460px;
}

.requestion-info .pref-sadiks{
    margin-left: 0px;
    margin-top: 14px;
    color: #327fbd;
    list-style-type: none;
}

.requestion-info .pref-sadiks li{
    margin-top: 1px;
}

.requestion-info .pref-sadiks li a{
    border-bottom: 2px solid;
    font-size: 18px !important;
}

.requestion-queue{
    margin-top: 20px;
}


.requestion-queue .split-line{
    border-top: 1px #eeeeee solid;
}

.requestion-queue .block-head{
    font-size: 26px;
    color: #327fbd;
    line-height: normal;
}

.requestion-info .row{
    margin-left: 0px;
}

.requestion-info input[type=checkbox]{
    width: 15px;
    height: 15px;
}

.requestion-form .hidden-input input, .requestion-form .hidden-input select{
    display: none;
}

.requestion-form input, .requestion-form select{
    padding: 0px 0px;
    border: 1px solid #d7d7d7;
    background: #fff;
}

.requestion-form input{
    margin-top: -6px;
}

.requestion-form select{
    margin-top: -7px;
    margin-left: -5px;
}

.requestion-form select{
    width: 100%
}

.requestion-form .bsmSelect{
    margin: 0px;
}

.requestion-form .bsmListItem{
    width: 100%;
}

.notification-area{
    margin-bottom: 20px;
}

.buttonHolder .social-button{
    float: left;
}

.requestion-add-menu{
    margin: 0px -7px -3px 4px;
}

#location-header{
    margin-bottom: 10px;
}

#requestion-form button[type=submit]{
    margin-top: 5px;
    float: right;
}

.field .benefits-list{
    list-style-type: none;
    margin-left: 0px;
}

.requestion-info .vkontakte-profile{
    margin-bottom: 10px;
}

.requestion-info .vkontakte-profile a{
    margin-right: 15px;
}

.requestion-info .vkontakte-profile .label{
    margin-top: 5px;
}

.requestion-info .vkontakte-profile a img{
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 3px;
}

/*Leaflet draw*/
.leaflet-draw-actions a{
    width: 60px !important;
}

.form-disabled .editor, .form-disabled .ui-datepicker-trigger,
.form-disabled .documents-form .field-value a{
    display: none;
}

.requestion-info .hint{
    color: #a9a9a9;
    font-size: 13px;
}

.requestion-info .field{
    padding: 5px;
    margin-left: -5px;
    border: 1px solid white;
}

.requestion-info .field.error .field-label{
    color: #A60000;
}

.requestion-info .field.error{
    background: #ffdfdf; border: 1px solid #f3afb5;
    /* CSS3 */
    border-radius:         4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    -o-border-radius:      4px;
    -khtml-border-radius:  4px;
}

.requestion-info #errorMsg{
    background: #ffdfdf; border: 1px solid #f3afb5; margin: 0 0 1.5em 0; padding: 0 1.5em;
    /* CSS3 */
    border-radius:         4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    -o-border-radius:      4px;
    -khtml-border-radius:  4px;
}

.requestion-info #errorMsg h3{} /* Feel free to use a heading level suitable to your page structure */
.requestion-info #errorMsg ol{ margin: 0 0 1.5em 0; padding: 0; }
.requestion-info #errorMsg ol li{ margin: 0 0 3px 1.5em; padding: 7px; background: #f6bec1; position: relative; font-size: .85em;
    /* CSS3 */
    border-radius:         4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    -o-border-radius:      4px;
    -khtml-border-radius:  4px;
}

/*Login registration pages*/
.registrationForm input{
    border: 1px solid #dddddd !important;
    height: 30px;
    width: 100% !important;
    font-size: 17px;
}

.right-split{
    border-right: 1px solid #c7c7c7;
    padding-right: 10px;
}

.registrationForm .formHint{
    display: none;
}


.registrationForm .ctrlHolder{
    border-bottom: 0px;
}

.vkontakte-registration{
    margin-top: 30px;
}

.vkontakte-registration .social-button{
    font-size: 18px;
    line-height: 60px;
}

.vkontakte-registration .social-button img{
    float: left;
    margin-right: 10px;
}

.registrationForm .hint{
    color: #909090;
    margin-top: 20px;
    margin-left: 10px;
}

.vkontakte-registration .hint{
    margin-top: 100px;
    color: #909090;
    text-align: justify;
}

.documents-form .original-form{
    display: none;
}

.documents-form .delete{
    display: none;
}

.documents-form .field{
    padding: 0px 5px;
}

.documents-form .field-value{
    margin-bottom: 0px;
}

.documents-form .field .hint{
    margin-bottom: 0px;
}

.sadik-change-form .map{
    width: 600px;
    height: 500px;
}

#alert_msg {
    margin-bottom: 0px;
}

#confirm_mail_button {
    margin-bottom: 10px;
}

/* added in 1.5.3b version */
.requestion-form .areas_all {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
}

.caret-right {
  border-left: 4px solid #000000;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.caret-margins {
  margin-top: 6px;
  margin-right: 5px;
}

#area-close {
    margin-top: 2px;
    font-size: 18px;
    color: gray;
}

.kidgs_list a img {
    margin-right: 5px;
    margin-left: 10px;
}

#area_map_anchor, .value-anchor:hover {
    color: gray;
}

#area_map_anchor:hover, .value-anchor {
    color: black;
}

.marker-cluster-gray {
  background-color: rgba(131, 133, 130, 0.6);
  }
.marker-cluster-gray div {
  background-color: rgba(66, 69, 63, 0.6);
  }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
  }
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
  }

h3.icon-map-marker, h3.icon-edit {
    margin-top: -3px;
}

/* added in 1.5.6 */
#id_sadik {
    font-family: "Lucida Console", Monaco, monospace;
}

dl {
    margin-top: 5px;
}

#select_sadik_form p {
    margin-bottom: 2px;
}

#select_sadik_form input#id_accept_location {
    margin-top: 0px;
}

#select_sadik_form input {
    margin-top: 5px;
}

.indent_10{
    margin-left: 10px;
}

.black-number {
    color: black;
}

.requestion-info .field .icon-question-sign {
    font-size: 16px;
    margin-top: -2px;
}

#filter-age {
    margin-top: 2px;
}

#coords_alert {
    margin-bottom: 8px;
}

#address_text {
    margin-top: 0px;
    margin-bottom: 5px;
    height: 31px;
    font-size: 16px;
    width: 100%;
}

#requestion-info-block {
    width: 500px;
}

.ms-parent .ms-drop ul {
    width: 97.5%;
}

#id_status + div + p, #id_area + div + p {
    margin-top: -23px;
}

.text-success {
    color: #468847;
}

#filled_email_label {
    margin-top: 4px;
}

#get_coords {
    float: right;
    position: relative;
    top: 21px;
}

#coords_success {
    margin-top: 5px;
    margin-bottom: 10px;
}

.gray {
    color: gray;
}

.blue {
    color: #0088cc;
}

.alert-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

#req_mark {
    margin-left: 5px;
}

#export_to_excel {
    padding: 10px 22px;
    line-height: 1;
    background: #777;
    border: 1px solid #494949;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
     /* CSS3 */
    border-radius:         4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    -o-border-radius:      4px;
    -khtml-border-radius:  4px;
    box-shadow: 1px 1px 0 #fff;
    -webkit-box-shadow: 1px 1px 0 #fff;
    -moz-box-shadow: 1px 1px 0 #fff;
    text-shadow: -1px -1px 0 rgba(0,0,0,.25);
}

#export_to_excel.disabled {
   cursor: default;
}

#queue_map, #requestion_count {
  margin-top: 10px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
  background-color: rgba(249, 249, 249, 0.5);
}

#view-switch.register-switch {
  height: 28px;
  margin-bottom: 15px;
  padding: 4px;
  width: 230px;
  background: #163362;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #163362, #254a86);
  background-image: -moz-linear-gradient(top, #163362, #254a86);
  background-image: -o-linear-gradient(top, #163362, #254a86);
  background-image: linear-gradient(to bottom, #163362, #254a86);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

#view-switch .register-switch-input {
  display: none;
}

#view-switch .register-switch-label {
  float: left;
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0;
}
#view-switch .register-switch-input:checked + .register-switch-label {
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

#view-switch i {
  vertical-align: baseline;
}

:-moz-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-placeholder {
  color: #aaa;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #aaa;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
