У заявки в очереди может быть несколько статусов
<ul>
    <li><b>Очередник - не подтвержден</b> — зарегистрированная заявка не подтверждена оператором, не участвует в комплектовании. Подтвердить заявку нужно в течение месяца с даты регистрации</li>
    <li><b>Очередник</b> — заявка была подтверждена оператором и может участвовать в комплектовании</li>
    <li><b>На комплектовании</b> — заявка принимает участие в комплектовании. Изменение данных невозможно</li>
    <li><b>Выделено место</b> — для заявки выделено место. Необходимо явиться в Управление для получения путевки</li>
    <li><b>Не явился</b> — заявитель не явился за путевкой в установленный срок (1 месяц). По истечении срока на обжалование, заявка автоматически снимается с учёта</li>
    <li><b>Зачислен</b> — заявитель подтвердил выделенное место, получив путевку</li>
</ul>