У заявки в очереди может быть несколько статусов\
<ul>\
    <li><b>Очередник-не подтвержден</b> - документы не были подтверждены у оператора и заявка не может учавствовать в распределении</li>\
    <li><b>Очередник</b> - документы у заявки был подтверждены у оператора и заявка может учавствовать в распределении</li>\
    <li><b>На распределении</b> - заявка принимает участие в распределении и может быть возвращена в очередь</li>\
    <li><b>Выделено место</b> - для заявки было выделено место в ДОУ</li>\
    <li><b>Желает сменить ДОУ</b> - заявка переводится в другой ДОУ</li>\
</ul>\
