{{ formset.management_form }}
{% for form in formset.forms %}
    <div class="{% if not form.template.value %}original-form {% endif %}{% if form.errors %}error {% endif %}field">
        <label class="field-label">{{ form.instance.template }}{% if form.errors %}<span class="value-changed"> ({% for field in form %}{{ field.errors|striptags }}{% endfor %})</span>{% endif %}</label>
        {{ form.id }}
        {{ form.template }}
        {{ form.DELETE }}
        <p class="field-value hidden-input">
            <label class="value">{{ form.document_number.value|default:"Не указано" }}</label>
            {{ form.document_number }}
            <a href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
        </p>
    </div>
{% endfor %}