{% load sadiki_core_tags zenforms %}
<div class="row">
    <div class="span12">
    {% if not requestion.editable %}
        <div class="alert alert-error">Статус заявки: {{ requestion.get_status_display }}. Редактирование невозможно.</div>
    {% endif %}
    {% with requestion.get_vacancy_distributed as vacancy_distributed %}
        {% if vacancy_distributed %}
            <div class="alert alert-success">Заявка зачислена в <a href="{% url sadik_info sadik_id=vacancy_distributed.sadik_group.sadik.id %}">{{ vacancy_distributed.sadik_group.sadik }}</a></div>
        {% else %}
            {% with requestion.get_vacancy_temp_distributed as vacancy_temp_distributed %}
                {% if vacancy_temp_distributed %}
                    <div class="alert alert-success">Заявка временно зачислена в <a href="{% url sadik_info sadik_id=vacancy_temp_distributed.sadik_group.sadik.id %}">{{ vacancy_temp_distributed.sadik_group.sadik }}</a></div>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
    {% with requestion.get_vacancy_decision as vacancy_decision %}
        {% if vacancy_decision %}
            <div class="alert alert-success">Происходит процесс распределения в <a href="{% url sadik_info sadik_id=vacancy_decision.sadik_group.sadik.id %}">{{ vacancy_decision.sadik_group.sadik }}</a></div>
        {% endif %}
    {% endwith %}
    </div>
</div>
<div class="row">
<div class="span5">
    <h2 class="page-header">Информация о заявке</h2>
    <div class="uniForm">
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Статус</span>
            <div class="readOnly">
                <span class="choice">{{ requestion.get_status_display }}</span>
            </div>
        </div>
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Имя ребёнка</span>
            <div class="readOnly">
                <span class="choice">{{ requestion.name|verbose_value }}</span>
            </div>
        </div>
        {% readonly requestion 'birth_date' %}
        {% readonly requestion 'registration_datetime' %}
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Возрастная категория</span>
            <div class="readOnly">
                <span class="choice">{{ requestion.age_groups.0|default:"Ребёнок не попадает ни в одну возрастную категорию, наверное, ему нужно подрасти" }}</span>
            </div>
        </div>
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Льготы</span>
            <div class="readOnly">
                <span class="choice">{{ requestion.benefit_category }}</span>
            </div>
        </div>
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Приоритетные ДОУ</span>
            <div class="readOnly">
                {% for sadik in requestion.pref_sadiks.all %}
                    <p><a href="{% url sadik_info sadik_id=sadik.id %}">{{ sadik.short_name }}</a></p>
                {% endfor %}
            </div>
        </div>
</div>
</div>

<div class="span4">
{% if requestion.address.coords %}<div id="requestion_map"></div>{% endif %}
<h2 class="page-header">Родитель</h2>
{% with requestion.profile as profile %}
    <div class="uniForm">
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Имя пользователя</span>
            <div class="readOnly">
                <span class="choice">{{ profile.user.username }}</span>
            </div>
            <p class="formHint">Используется для входа в личный кабинет</p>
        </div>
        <div class="ctrlHolder readOnly">
            <span class="readOnlyLabel">Пароль</span>
            <div class="readOnly">
                        {% if profile.user.has_usable_password %}
                            <span class="choice"><i title="Пароль задан" class="green icon-ok-circle"></i>Пароль задан</span>
                        {% else %}
                            <span class="choice"><i title="Пароль не задан" class="red icon-ban-circle"></i>Пароль не задан</span>
                        {% endif %}
                        <form id="reset_password_form" action="{% url generate_profile_password requestion_id=requestion.id %}" method="post" target="_blank">{% csrf_token %}
                            {{ reset_password_form.as_ul }}
                        </form>
                        <button id="reset_password_btn" class="btn">Сгенерировать новый пароль</button>
                    </span>
            </div>
        </div>
        {% if vkontakte_association %}
                <h3>
                    К данной учетной записи привязан аккаунт ВКонтакте:
                    <a target="_blank" href="http://vk.com/id{{ vkontakte_association.uid }}">{{ vkontakte_association.uid }}</a>
                    {% if profile.user.has_usable_password %}
                        <a href="{% url operator_social_auth_disconnect_individual backend=vkontakte_association.provider association_id=vkontakte_association.id %}?next={{ request.get_full_path }}">Отвязать</a>
                    {% else %}
                        <p>Чтобы отвязать учетную запись ВКонтакте у пользователя должен быть задан пароль.</p>
                    {% endif %}

                </h3>
                {% if profile.first_name or profile.phone_number or profile.skype %}
                    <div class="vkontakte-info">
                        <h2>Информация, полученная из ВКонтакте</h2>
                        {% readonly profile 'first_name' %}
                        {% readonly profile 'phone_number' %}
                        {% readonly profile 'skype' %}
                        <div class="buttonHolder">
                            <a id="changeProfile" href="{% url operator_social_auth_update_data user_id=profile.user.id %}?next={{ request.get_full_path }}" class="btn"><i class="icon-pencil"></i>Обновить</a>
                            <a id="changeProfile" href="{% url operator_social_auth_clean_data user_id=profile.user.id %}?next={{ request.get_full_path }}" class="btn"><i class="icon-pencil"></i>Удалить</a>
                        </div>
                    </div>
                {% else %}
                    <div class="buttonHolder">
                        <a id="changeProfile" href="{% url operator_social_auth_update_data user_id=profile.user.id %}?next={{ request.get_full_path }}" class="btn"><i class="icon-pencil"></i>Получить данные</a>
                    </div>
                {% endif %}
            {% else %}
                <h2>К этой учетной записи не привязан аккаунт ВКонтакте.
            {% endif %}
    </div>

{% endwith %}
</div>
</div>
<div class="uniForm">
{% url operator_requestion_set_identity_document requestion.id as operator_set_identity_document %}
{% url find_profile_for_requestion requestion_id=requestion.id as find_profile_for_requestion_url %}
<div class="buttonHolder">
    {% if operator_set_identity_document|check_url_availability:request.user %}
        <a href="{% url operator_requestion_set_identity_document requestion.id %}" class="btn"><i class="icon-pencil"></i>Указать документ</a>
    {% endif %}
    {% if find_profile_for_requestion_url|check_url_availability:request.user %}
        <a href="{{ find_profile_for_requestion_url }}" class="btn"><i class="icon-pencil"></i> Прикрепить к другому профилю</a>
    {% endif %}
</div>
</div>
        
<h2 class="page-header">Документы</h2>
{% if other_requestions_with_document %}
    <p class="red">
        Другие заявки с таким же идентифицирующим документом:
        {% for other_requestion in other_requestions_with_document %}
            <a href="{% url operator_requestion_info requestion_id=other_requestion.id %}">{{ other_requestion }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}
<ul class="documents">
    {% for doc in requestion.evidience_documents %}
        <li><p>{{ doc.template }}</p>
            {{ doc }}
            {% if doc.confirmed %}<i title="Подтвержден" class="green icon-ok-circle"></i>
                {% else %}<i title="Не подтвержден" class="red icon-ban-circle"></i>{% endif %}</li>
    {% endfor %}
</ul>
