*.orig
*.pyc
*.pyo
*.sql
*.res
*.patch
*.save
.svn
.project
.pydevproject
.settings
.idea/*
.installed.cfg
wsgi.py
eturn-django-settings.ini
local_env.py
wsgi.py
templates/includes/notifier.html
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
searchindex/
snapshots/
sadiki/cover/
sadiki/local_settings.py
sadiki/urls.py
templates/includes/notifier.html
doc/build
static/*
lock/*
secure_static/
ENV/*
env/*
*~
