*.orig
*.pyc
*.pyo
*.sql
.svn
.project
.pydevproject
.settings
.idea/*
.installed.cfg
eturn-django-settings.ini
local_env.py
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
media/upload/*
searchindex/
snapshots/
sadiki/cover/
sadiki/production.py
doc/build
static/*
lock/*
secure_static/
ENV/*
