*.orig
*.pyc
*.pyo
*.sql
*.res
*.patch
.svn
.project
.pydevproject
.settings
.idea/*
.installed.cfg
eturn-django-settings.ini
local_env.py
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
searchindex/
snapshots/
sadiki/cover/
sadiki/local_settings.py
doc/build
static/*
lock/*
secure_static/
ENV/*
env/*
*.save
wsgi.py
templates/includes/notifier.html

