[database]
DATABASE_USER: sadiki3
DATABASE_PORT: 5432
DATABASE_NAME: sadiki3

[secrets]
SECRET_KEY:

[email]
SERVER_EMAIL: webmaster@example.com

[admin mail]
WEBMASTER: webmaster@example.com

[options]
MUNICIPALITY_OCATO: 75401376
REGION_NAME: Челябинская область Челябинск
VK_APP_ID:
VK_API_SECRET:

[map]
MAP_CENTER: 61.615617, 55.111896
MAP_ZOOM: 12
