xlutils ==1.3.2
django-zenforms >=0.1,<0.2
redsolutioncms.django-chunks >=0.2,<0.3
django-classy-tags ==0.3.4.1
redsolutioncms.django-trusted-html >=0.1,<0.2
ordereddict ==1.1
redsolutioncms.django-tinymce-attachment >=0.4, <0.5
django-social-auth ==0.7.23
redsolutioncms.django-hex-storage >=0.1, <0.2


# use system in production
Django>=1.4, <1.5
pytils>=0.2, <0.3
python-dateutil>=1.4, <=1.5
South>=0.7, <0.8
pisa>=3.0.32, <3.1