{% extends "distribution/distribution_base.html" %}
{% load sadiki_core_tags %}

{% block css %}
    {{ block.super }}
    {% include "includes/leaflet_css.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.css" />
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    {% load_settings %}
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.js"></script>
    <script src="{{ STATIC_URL }}leaflet/plugins/markercluster/leaflet.markercluster.js"></script>
    <script src="{{ STATIC_URL }}leaflet/tile.stamen.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/helper.js"></script>
    <script>
        var layers = null;
        var sadiks_coords = {{ sadiks_coords|safe }};
        var pref_sadiks = [
            {% for sadik in pref_sadiks %}
                {{ sadik.id }},
            {% endfor %}
        ]

        $(document).ready(function(){
            // hide unused empty space
            $(".location_save_actions").hide();

            var activeSadikIcon = L.icon({
                iconUrl: '{{ STATIC_URL }}img/sadik-icon-green.png',

                iconSize:     [22, 23], // size of the icon
                iconAnchor:   [11, 11], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
            });
            var prefSadikIcon = L.icon({
                iconUrl: '{{ STATIC_URL }}img/sadik-icon.png',

                iconSize:     [22, 23], // size of the icon
                iconAnchor:   [11, 11], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
            });
            var inactiveSadikIcon = L.icon({
                iconUrl: '{{ STATIC_URL }}img/sadik-icon-yellow.png',

                iconSize:     [22, 23], // size of the icon
                iconAnchor:   [11, 11], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
            });

            function redraw_select() {
                $("#id_sadik").empty();
                var kidgdns_arr = [];
                for (key in sadiks_coords) {
                    var distance = get_distance(requestion_point[0], requestion_point[1],
                                                sadiks_coords[key].y, sadiks_coords[key].x);
                    sadiks_coords[key].distance = distance;
                    sadiks_coords[key].id = key;
                    kidgdns_arr.push(sadiks_coords[key]);
                }
                sorted_sadiks = kidgdns_arr.sort(sort_by_distance);
                kidgdns_arr.forEach(function(kidgdn) {
                    var symbols_length = kidgdn.s_name.length + kidgdn.distance.toString().length + 1;
                    var total_length = 33;
                    if (symbols_length > total_length) {
                        total_length = symbols_length;
                    }
                    var s = '&#160'.repeat(total_length - symbols_length) + ' ';
                    $("#id_sadik").append($('<option value=' + kidgdn.id + '>' + kidgdn.s_name + s + kidgdn.distance + 'м</option>'));
                });
            }

            {% with current_requestion.location as point %}
                {% if point %}
                    var requestion_point = [{{ point.y }}, {{ point.x }}];
                    var requestion_marker = L.marker(requestion_point);
                    redraw_select();
                {% else %}
                    var requestion_point = null;
                    var requestion_marker = null;
                {% endif %}
            {% endwith %}
            {% load_settings %}
            {#            при редактировании карта будет центрироваться на этой точке#}
            if (requestion_marker) {
                var map_center = requestion_point
            } else {
                var map_center = [{{ settings.MAP_CENTER }}].reverse();
            }
            var map = new L.Map("requestion_map", {});
            var polyline = L.polyline([], {color: 'red'}).addTo(map)
            var osmLayer = new L.TileLayer("{{ settings.LEAFLET_TILES_URL }}", {
                subdomains: {{ settings.LEAFLET_TILES_SUBDOMAINS|safe }},
            });
            osmLayer.addTo(map);

            var points = L.layerGroup([]);

            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);
            if (requestion_marker){
                drawnItems.addLayer(requestion_marker);
            }

            {% if location_not_verified %}
            {# добавляем элементы управления для изменения местополжение и при их активации центрирование карты#}
             function addDrawControl(map, control){
                map.addControl(control);
                $('.leaflet-draw-edit-edit, .leaflet-draw-draw-marker').click(function(){
                    polyline.setLatLngs([]);
                    if (requestion_point) {
                            map.panTo(requestion_point);
                    } else {
                        map.panTo(map_center);
                    }
                })
             }

            // Initialize the draw control and pass it the FeatureGroup of editable layers
            var drawControlOptions = {
                edit: {
                    featureGroup: drawnItems,
                    remove: false
                },
                draw: {
                    polyline: false,
                    polygon: false,
                    circle: false, // Turns off this drawing tool
                    rectangle: false,
                    marker: true
                }
            };

            {# если у заявки указаны координаты, то отключаем возможность добавлнеия точки, иначе возможность изменения.#}
            {# т.к. при изменении моментально происходит сохранение#}
            if (requestion_marker){
                drawControlOptions['draw']['marker'] = false;
            } else {
                drawControlOptions['edit'] = false;
            }
            var drawControl = new L.Control.Draw(drawControlOptions);
            addDrawControl(map, drawControl);


            {# через ajax запрос сохраняем местположение заявки#}
            function ajaxChangeLocation(layer){
                $('#location_saved').hide();
                $('#location_not_saved').hide();
                $(".location_save_actions").show();
                $('#location_saving').show();
                var latLng = layer.getLatLng();
                requestion_point = [latLng.lat, latLng.lng];
                requestion_marker = L.marker(requestion_point);

                $('#change_location_form #id_location').val("POINT ("+ latLng.lng + " " + latLng.lat + ")");
                // запрос на изменение координат
                $.ajax($('#change_location_form').attr('action'), {
                    type: 'POST',
                    data: $('#change_location_form').serialize(),
                    dataType:'json',
                    success: function(data, textStatus, jqXHR){
                        if (data.ok) {
                            $('#location_saving').hide();
                            $('#location_saved').show();
                            redraw_select();
                            // draw line connecting active sadik and requestion marer
                            var sadik_id = $("#id_sadik").find('option:selected').val();
                            var sadik_coords = sadiks_coords[sadik_id];
                            var sadik_point = [sadik_coords["y"], sadik_coords["x"]];
                            polyline.setLatLngs([requestion_point, sadik_point]);
                        } else {
                            $('#location_saving').hide();
                            $('#location_not_saved').show();
                        }
                    },
                    error: function(){
                        $('#location_saving').hide();
                        $('#location_not_saved').show();
                    }
                });
            }

            map.on('draw:edited', function (e) {
                var layer = e.layers.getLayers()[0]
                ajaxChangeLocation(layer);
            });
            map.on('draw:created', function (e) {
                var layer = e.layer;
                //убрать элемент добавления маркера и добавить возможность изменения
                map.removeControl(drawControl);
                drawControlOptions['draw']['marker'] = false;
                drawControlOptions['edit'] = {
                    featureGroup: drawnItems,
                    remove: false}
                drawControl = new L.Control.Draw(drawControlOptions);
                addDrawControl(map, drawControl);

                drawnItems.clearLayers();
                drawnItems.addLayer(layer);
                ajaxChangeLocation(layer);
                $("#location_not_set").hide()
                $("#id_accept_location").attr("disabled", false)
            });
            {# пока оператор не поставит галку нельзя выделить место#}
            $('#select_sadik_form #id_accept_location').change(function(){
                if ($(this).is(':checked')) {
                    $('#select_sadik_form input:submit').attr('disabled', false);
                } else {
                    $('#select_sadik_form input:submit').attr('disabled', true);
                };
            })
            {% endif %}

            {# при выборе ДОУ происходит изменение отображаемой информации и карты#}
            $('#select_sadik_form #id_sadik').change(function(){
                points.clearLayers();
                var sadik_id = $(this).find('option:selected').val();
                $('#sadik_'  + sadik_id + '_description').show().siblings('dl').hide();
                //список ДОУ для отображения на карте
                var sadiks_markers = [];
                for (var key in sadiks_coords){
                    var coords = sadiks_coords[key];
                    var point = [coords["y"], coords["x"]];
                    if (pref_sadiks.indexOf(parseInt(key)) > -1) {
                        var marker = L.marker(point, {icon: prefSadikIcon});
                        add_popup(marker, coords);
                    } else {
                        var marker = L.marker(point, {icon: inactiveSadikIcon});
                        add_popup(marker, coords);
                    }
                    sadiks_markers.push(marker);
                }
                //и выбранный ДОУ
                var coords = sadiks_coords[sadik_id];
                if ($.isEmptyObject(coords)) {
                    $("#requestion_map").hide();
                    $(".hide_if_empty").hide();
                    $("dl").hide();
                } else {
                    $("#kidgdn_address").text(coords["address"]).show();
                    $("#kidgdn_phone").text(coords["phone"]).show();
                    $(".hide_if_empty").show();
                    $("#requestion_map").show();
                    var point = [coords["y"], coords["x"]];
                    var marker = L.marker(point, {icon: activeSadikIcon, zIndexOffset: 1000});
                    add_popup(marker, coords);
                    sadiks_markers.push(marker);
                    points = L.layerGroup(sadiks_markers).addTo(map);
                    if (requestion_marker) {
                        map.fitBounds([requestion_point, point]);
                        // marker.openPopup();
                    } else {
                        map.setView(sadik_point, 14);
                        // marker.openPopup();
                    }
                    // draw line between active sadik and requestion
                    if (requestion_point) {
                        polyline.setLatLngs([requestion_point, point]);
                    }
                }
                // $("#kidgdn_name").text(coords["s_name"]);
            });
            $("#id_sadik").prepend($('<option value="0" selected="selected">----------------------------------</option>'));
            $('#select_sadik_form #id_sadik').trigger('change');
            $(".leaflet-draw-edit-edit").prop("title", "Изменить местополжение заявки");
        });
    </script>
{% endblock %}

{% block content %}
    {% if not distribution %}
        <h2>Распределение еще не началось</h2>
    {% else %}
        <h1>Комплектование групп</h1>
    <div class="row">
        <div class="span_7">
        {% if current_requestion %}
            <h3>Распределение заявки {{ current_requestion.requestion_number }}</h3>
        {% endif %}
        {% if not queue %}
            Больше вы не можете никого распределить.
            {% if free_places %}
                Количество свободных мест в МДОУ: {{ free_places }}
            {% else %}
                В МДОУ не осталось ни одного свободного места
            {% endif %}
            <a class="btn" href="{% url distribution_end %}">Завершить распределение</a>
        {% endif %}
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Номер заявки</th>
                    <th>Льготы</th>
                    <th>Дата регистрации</th>
                    <th>Желаемый год</th>
                </tr>
                {% for requestion in inactive_queue %}
                    <tr class="requestion_info table-row {% cycle 'even' 'odd' %}">
                        <td class="{% if requestion.status == decision_status %} decision_requestion{% else %} inactive_requestion{% endif %}">
                            <a href="{% url operator_requestion_info requestion_id=requestion.id %}">{{ requestion }}</a>
                        </td>
                        <td class="centered">
                            <div class="icon_text">{{ requestion.benefit_category }}</div>
                        </td>
                        <td class="centered">
                            {{ requestion.registration_datetime }}
                        </td>
                        <td class="centered">
                            {{ requestion.admission_date.year }}
                        </td>
                    </tr>
                {% endfor %}
                {% for requestion in queue %}
                    <tr class="requestion_info table-row {% cycle 'even' 'odd' %}">
                        <td>
                            <a href="{% url operator_requestion_info requestion_id=requestion.id %}" {% if requestion == current_requestion %}class="red"{% endif %}>{{ requestion }}</a>
                        </td>
                        <td class="centered">
                            <div class="icon_text">{{ requestion.benefit_category }}</div>
                        </td>
                        <td class="centered">
                            {{ requestion.registration_datetime }}
                        </td>
                        <td class="centered">
                            {{ requestion.admission_date.year }}
                        </td>
                    </tr>
                {% endfor %}
            </table>


            <div class="span_3 alpha requestion_list">
                <h3>Сводка</h3>
                <div class="table-row clearfix">
                    <p>Получили места: {{ distributed_requestions_number }}</p>
                </div>
                <div class="table-row clearfix">
                    <div>Свободных мест: {{ free_places }}</div>
                </div>
            </div>
            <div class="span_3 omega legend">
                <h3>Обозначения</h3>
                <div class="decision_requestion">
                    <a href="#" onclick="return false;">75401364-Б-134457884</a><br />
                    Распределенная заявка
                </div><br />
                <div class="">
                    <a href="#" class="red" onclick="return false;">75401364-Б-134457884</a><br />
                    Текущая заявка
                </div><br />
                <div class="inactive_requestion">
                    <a href="#" onclick="return false;">75401364-Б-134457884</a><br />
                    Заявка не подходит по возрасту
                </div><br />
                <div class="">
                    <a href="#" onclick="return false;">75401364-Б-134457884</a><br />
                    Следующая заявка
                </div>

            </div>
        </div>


        <div class="span_3">
            {% if last_distributed_requestion %}
                {% comment %}<a href="{% url cancel_requestion_distribution requestion_id=last_distributed_requestion.id %}">Отменить последнее распределение заявки</a>{% endcomment %}
            {% endif %}
            {% if current_requestion %}
                <h3>Заявка</h3>
                <p id="requestion-info-block">
                {% with current_requestion.evidience_documents.requestion_identity_documents.0 as document %}
                    {% if document %}
                        <strong>Документ:</strong> {{ document.document_number }} ({{ document.template }})<br>
                    {% endif %}
                {% endwith %}
                <strong>Дата рождения:</strong> {{ current_requestion.birth_date }}<br>
                <strong>Возрастная группа:</strong> {{ current_requestion_age_groups.0 }}<br>
                {% if current_requestion.location_properties %}
                    <strong>Адрес:</strong> {{ current_requestion.location_properties }}<br>
                {% endif %}

                {% if pref_sadiks %}
                    <strong>Приоритетные МДОУ:</strong><br>
                    <img class="indent_10" src="{{ STATIC_URL }}img/sadik-icon.png" height="11" width="11"> 
                    {% for sadik in pref_sadiks %}
                        {{ sadik.short_name }}{% if forloop.revcounter > 1 %}, {% endif %}
                    {% endfor %}
                    <br>
                {% endif %}

                {% if areas_all.count > 1 %} 
                    <strong>Группы ДОУ:</strong><br>
                    {% for area in areas_all %}
                    <img class="indent_10" src="{{ STATIC_URL }}img/sadik-icon-yellow.png" height="11" width="11"> 
                        {{ area.name }}{% if forloop.revcounter > 1 %}<br>{% endif %}
                    {% endfor %}
                {% else %}
                    <strong>Группа ДОУ:</strong><br>
                    <img class="indent_10" src="{{ STATIC_URL }}img/sadik-icon-yellow.png" height="11" width="11"> 
                     {{ areas_all.0.name }}
                {% endif %}
                </p>

                <form action="." method="POST" id="select_sadik_form">
                    {% csrf_token %}
                    {{ select_sadik_form.as_p }}
                    <div id="kidgdn_info">
                        <strong>Адрес:</strong> <span id="kidgdn_address" class="hide_if_empty"></span><br>
                        <strong>Телефон:</strong> <span id="kidgdn_phone" class="hide_if_empty"></span></p>
                    </div>
                    {% if location_not_verified %}
                        <input type="submit" class="hide_if_empty" value="Выделить место" onclick="this.disabled=true; this.form.submit()" disabled="disabled"/>
                    {% else %}
                        <input type="submit" class="hide_if_empty" value="Выделить место" onclick="this.disabled=true; this.form.submit()"/>
                    {% endif %}

                </form>

                <form action="{% url change_requestion_location requestion_id=current_requestion.id %}" method="POST" id="change_location_form">
                    {% csrf_token %}
                    {{ location_form.as_p }}
                </form>
       
                <h3 id="sadik_info_list" class="hide_if_empty">Информация о МДОУ</h3>
                <div class="location_save_actions">
                    {% if not current_requestion.location %}
                        <span id="location_not_set" class="label label-important"></i>Необходимо задать местоположение заявки</span>
                    {% endif %}
                    <span id="location_saved" class="label label-success" style="display: none">Местоположение сохранено</span>
                    <span id="location_not_saved" class="label label-important" style="display: none"></i>Ошибка при сохранении</span>
                    <span id="location_saving" style="display: none"><img src="{{ STATIC_URL }}img/small-ajax-loader.gif"/><span class="label label-info">Сохранение местоположения</span></span>
                </div>
                <div id="requestion_map"></div>
                        <ul class="unstyled hide_if_empty">
                            <li class="indent_10"><img src="{{ STATIC_URL }}img/sadik-icon.png" height="11" width="11"> - приоритетные ДОУ</li>
                            <li class="indent_10"><img src="{{ STATIC_URL }}img/sadik-icon-yellow.png" height="11" width="11"> - в один из этих ДОУ заявка будет зачислена, если в приоритетных не останется места</li>
                            <li class="indent_10"><img src="{{ STATIC_URL }}img/sadik-icon-green.png" height="11" width="11"> - выбранный (активный) ДОУ</li>
                        </ul>
                {% for sadik in sadik_list %}
                    <dl id="sadik_{{ sadik.id }}_description" style="display: none;">
                        Возрастные группы:
                        <table class="table table-striped table-bordered table-condensed">
                            <tr>
                                <th>Название</th>
                                <th>Свободные места</th>
                            </tr>
                            {% sadik_groups_for_requestion current_requestion sadik as sadik_groups_for_requestion %}
                            {% for sadik_group in sadik.related_groups %}
                                <tr {% if sadik_group|appropriate_for_birth_date:requetion.birth_date %}class="red"{% endif %}>
                                    <td>{{ sadik_group }}</td>
                                    <td class="centered">{{ sadik_group.free_places }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </dl>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}