{% load sadiki_core_tags %}

{% url supervisor_requestion_info requestion.id as supervisor_requestion_info_url %}
{% url change_registration_datetime requestion.id as change_registration_datetime_url %}
{% url change_birth_date requestion.id as change_birthdate_url %}

<ul class="content-menu">
    <li {% if request.path == supervisor_requestion_info_url %}class="active"{% endif %}>
        <a href="{{ supervisor_requestion_info_url }}">Информация о заявке</a>
    </li>
    {% if change_registration_datetime_url|check_url_availability:request.user %}
        <li {% if request.path == change_registration_datetime_url %}class="active"{% endif %}>
            <a href="{{ change_registration_datetime_url }}">Изменить дату регистрации</a>
        </li>
    {% endif %}
    {% if change_birthdate_url|check_url_availability:request.user %}
        <li {% if request.path == change_birthdate_url %}class="active"{% endif %}>
            <a href="{{ change_birthdate_url }}">Изменить дату рождения</a>
        </li>
    {% endif %}
</ul>