{% extends "admin/base_site.html" %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
        {% if import_active %}
            <h1 style="color:red">Выполняется задание.</h1>
            <a href=".">Страница автоматически обновится через <span id="countdown"></span> c.</a>
            <script type="text/javascript">
                var delay = 30;
                function countdown(){
                    var counterEl = document.getElementById('countdown');
                    counterEl.textContent = delay;
                    delay--;
                    if (delay <0 ){window.location.reload()}
                    setTimeout(countdown, 1000);
                }
                countdown();
            </script>
        {% else %}
            <h2>Процесс импорта был завершен, дальнейший импорт заявок невозможен. Также был открыт публичный интерфейс.</h2>
        {% endif %}
        </div>
    </div>
{% endblock %}
