{% load sadiki_core_tags %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <style type="text/css">
            body {
                font-family: Serif;
            }
        </style>
    </head>
    
    <body>
        <div class="results">
        {% if error_message %}
            <h2>{{ error_message }}</h2>
        {% else %}
            {% for row in logic.errors %}
                <h2>Ошибки в строке {{ row.row_index|add:"1" }}</h2>
                    {% if row.logic_exception %}
                        {% for message in row.logic_exception.messages %}
                        <p style = "white-space:PRE">{{ message }}<p>
                        {% endfor %}
                    {% endif %}
                    {% for cell in row %}
                        {% if cell.messages %}
                            {% with logic.format_doc.cells|element_by_index:forloop.counter0 as current_cell %}
                                {% for error in cell.messages %}
                                    <p style = "white-space:PRE">{{ current_cell.name }}: {{ error }}</p>
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        {% endif %}
        </div>
    </body>
</html>