{% extends "operator/requestion_base.html" %}
{% load sadiki_core_tags zenforms pytils_numeral %}


{% block content_title %}
    <h1>{% block title %}Привязка заявки {{ params.requestion }} к другому профилю{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span5">
            <div class="page-header"><h2>Информация о заявке {{ requestion }}</h2></div>
            {% with params.requestion as requestion %}
            <dl>
                <dt>ФИО ребенка</dt>
                <dd>{{ requestion.fio }}</dd>
                <dt>Территориальная область:</dt>
                <dd>{{ requestion.areas.all.0|default:"Весь муниципалитет" }}</dd>
                <dt>Дата рождения:</dt>
                <dd>{{ requestion.birth_date }}</dd>
                <dt>Статус:</dt>
                <dd>{{ requestion.get_status_display }}</dd>
                <dt>Льготы:</dt>
                <dd>{{ requestion.benefit_category }}</dd>
            </dl>
            <div class="page-header"><h2>Документы</h2></div>
            <ul class="documents">
                {% for doc in requestion.evidience_documents %}
                <li>
                    <p>{{ doc.template }}</p>
                    Номер {{ doc.document_number }}
                    {% if doc.confirmed %}<i class="green icon-ok-circle"></i>Подтвержден
                    {% else %}<i class="red icon-ban-circle"></i>Не подтвержден
                    {% endif %}
                    <hr />
                </li>
                {% endfor %}

            </ul>
            {% endwith %}
        </div>
        <div class="span5">
            <div class="page-header"><h2>Информация о профиле</h2></div>
            {% with params.profile as profile %}
            <dl>
                <dt>ФИО</dt>
                <dd>{{ profile.fio }}</dd>
                <dt>Заявки, принадлежащие, профилю</dt>
                <dd>
                    {% for requestion in profile.requestion_set.all %}
                        <a href="{% url operator_requestion_info requestion.id %}">{{ requestion }}</a>;
                    {% endfor %}
                </dd>
            </dl>
            {% endwith %}
        </div>
    </div>
    {% izenform form options submit="Прикрепить заявку" %}
{% endblock %}
