{% extends "operator/requestion_base.html" %}
{% load sadiki_core_tags zenforms pytils_numeral %}


{% block content_title %}
    <h1>{% block title %}Поиск профиля для заявки {{ requestion }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="content-main">
        {% izenform form options submit="Поиск" %}
    {% if query %}
        <div class="row vertical-margins"><div class="span10">
            <div class="well query">
                По запросу:
                {% for field in query.fields.values %}
                    <dl>
                        <dt>{{ field.label }}</dt>
                        <dd>{{ field.value }}</dd>
                    </dl>
                {% endfor %}
                <strong>{{ results.count }} профи{{ results.count|choose_plural:"ль, ля, лей" }}</strong>
            </div>
        {% if results.count > 0 %}
            {% block queue_table %}
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Имя пользователя</th>
                    <th>Имя родителя</th>
                    <th>Номера заявок в очереди</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for profile in results %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ profile.user.username }}</td>
                        <td>{{ profile.first_name|verbose_value }}</td>
                        <td>
                            {% for requestion in profile.requestion_set.all %}
                                <a href="{% url 'operator_requestion_info' requestion.id %}">{{ requestion }}</a><br>
                            {% endfor %}
                        </td>
                        <td>
                            {% if profile == requestion.profile %}
                                Заявка принадлежит этому профилю
                            {% else %}
                                <a href="{% url 'embed_requestion_to_profile' requestion_id=params.requestion.id profile_id=profile.id %}">Привязать заявку</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock queue_table %}
        {% else %}
            {% if more_results.count > 0 %}
                <div class="well query">
                    Но зато по запросу:
                    {% for field in less_query.fields.values %}
                        <dl>
                            <dt>{{ field.label }}</dt>
                            <dd>{{ field.value }}</dd>
                        </dl>
                    {% endfor %}
                    <strong>{{ more_results.count }} профи{{ more_results.count|choose_plural:"ль, ля, лей" }}</strong>
                </div>
            {% endif %}
        {% endif %}
        </div></div>
    {% endif %}
    </div>
{% endblock %}
