{% extends 'operator/base.html' %}

{% block content %}
    <h3>Образцы заявлений в формате odt</h3>
    <ul class="blanks_drafts">
        <li><a target="_blank" href="{{ STATIC_URL }}blanks/registraciya.odt">Заявление на регистрацию</a></li>
        <li><a target="_blank" href="{{ STATIC_URL }}blanks/izmenenie_dannyh.odt">Заявление на изменение данных</a></li>
        <li><a target="_blank" href="{{ STATIC_URL }}blanks/izmenenie_dou.odt">Заявление на изменение приориетных ДОУ</a></li>
        <li><a target="_blank" href="{{ STATIC_URL }}blanks/snyatie_s_ucheta.odt">Заявление на снятие с учета</a></li>
        <li><a target="_blank" href="{{ STATIC_URL }}blanks/putevka_v_dou.odt">Путевка в ДОУ</a></li>
    </ul>
{% endblock %}