{% extends "account/frontpage.html" %}
{% load sadiki_core_tags %}

{% block content_menu %}
    {% include "operator/includes/requestion_menu.html" %}
{% endblock %}

{% block title %}
    Информация о профиле {{ profile }}
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    {# диалоговое окно сброса пароля #}
    <script type="text/javascript">
        function confirm_mail_by_op() {
            $.get('{% url confirm_profile_email profile.id %}');
            $('#mail_confirm_sent').show();
            $('#confirm_mail_button').hide();
            $('#filled_email_label').children('span').hide();
            $('#filled_email_label img').first().hide();
        }

    function operatorEmailSubmit() {
        var url = '{% url change_profile_email profile.id %}';
        if ($('#id_email').val() === email_string) {
            mailEditToLabel();
            return false;
        }
        $.ajax(url, {
                type: 'POST',
                data: {'email': $('#id_email').val()},
                dataType:'json',
                success: function(data, textStatus, jqXHR) {
                    if (data.ok) {
                        $('#email_form div').removeClass('error');
                        $('#email_err_span').remove();
                        mailEditToLabel();
                        $('#mail_change_success').show();
                    } else {
                        $('#email_form div').addClass('error');
                        var span = $('<span/>')
                            .attr('class', 'error')
                            .attr('id', 'email_err_span')
                            .text(' (' + data.errors.email[0] + ')');
                        $('#email_form label').append(span);
                    }
                },
                error: function() {
                    console.log('error')
                },
                complete: function(jqXHR, textStatus) {
                }
        })
    }

        $(document).ready(function() {
            $("#reset_password_btn").each(function() {
                $(this).click(function() {
                    $( "#dialog-confirm" ).dialog({
                      resizable: false,
                      height:200,
                      modal: true,
                      buttons: {
                        "Да": function() {
                            $("#reset_password_form").submit();
                            $( this ).dialog( "close" );
                        },
                        "Нет": function() {
                          $( this ).dialog( "close" );
                        }
                      }
                    });
                    return false;
                });
            });

            $('#id_snils').snilsValidate();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="notification-area">
        {% if profile.get_profile.requestion_set.not_confirmed.exists %}
            <div class="alert alert-error">Вам необходимо в ближайшее время подтвердить заявки, обратившись в управление образования.</div>
        {% endif %}
    </div>
    <div class="row">
    <div class="span6">
        <div class="requestion-info">
            <label class="field-label">Имя пользователя:</label>
            <p class="field-value">{{ profile.user.username }}</p>
            {# сброс пароля #}
            <label class="field-label">Пароль:</label>
            <p class="field-value">
                {% if profile.user.has_usable_password %}
                    <img title="Пароль задан" src="{{ STATIC_URL }}img/icon_approved.fw.png"/>
                    <span class="value">Пароль задан</span>
                {% else %}
                    <img title="Пароль не задан" src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                    <span class="value">Пароль не задан</span>
                {% endif %}
                <form id="reset_password_form" action="{% url generate_profile_password profile_id=profile.id %}" method="post" target="_blank">{% csrf_token %}
                    {{ reset_password_form.as_ul }}
                </form>
                <button id="reset_password_btn" class="btn">Сгенерировать новый пароль</button>
            </p>
            <div id="dialog-confirm" class="confirmation-dialog" title="Сбросить пароль?">
              <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Внимание! Вход будет возможен только по новому паролю.</p>
            </div>

            <form method="POST" id="email_form">
                {% csrf_token %}
                <div class="field">
                    <label class="field-label">{{ form.email.label }} </label>
                    <p class="field-value">
                        <input type="text" name="email" id="id_email" value="{{ profile.user.email }}">
                    </p>
                </div>
                <a href="#" class="btn" id="email_btn" onclick="operatorEmailSubmit(); return false">Сохранить</a>
                <p id="filled_email_label" class="field-value">
                    {% if profile.user.email and not profile.email_verified %}
                        <img src="/static/img/icon_not_approved.fw.png">
                    {% else %}
                        <img title="Почтовый адрес подтвержден" src="/static/img/icon_approved.fw.png">
                    {% endif %}
                    <label class="value">{{ profile.user.email }}</label>
                    <a class="editor" id="change_mail_btn" href="#" onclick="mailLabelToEdit(); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                    {% if profile.user.email and not profile.email_verified %}
                        <span class="status-not-approved">Почтовый ящик не подтвержден</span>
                    {% endif %}
                </p>
                <p class="text-success" hidden="" id="mail_change_success">Электронный почтовый ящик успешно изменен.</p>
                {% if profile.user.email and not profile.email_verified %}
                    <button  id="confirm_mail_button" class="btn btn-small btn-success" type="button" onclick="confirm_mail_by_op(); return false">
                    Подтвердить почтовый адрес</button>
                    <p class="text-success" id="mail_confirm_sent" hidden="">Почтовый адрес успешно подтвержден</p>
                {% endif %}
            </form>
            {% block personal_data %}
            <div class="block-head personal-data-head">Персональные данные:</div>
            <form id="pdata_form" method="post" action="." class="requestion-form requestion-add-form" onsubmit="form_submit(this); return false">
                {% csrf_token %}
                <div class="row">
                    <div class="span5">
                        {% for field in pdata_form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                        {% with pdata_form.last_name as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.first_name as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.middle_name as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.phone_number as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.mobile_number as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.snils as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        <div class="block-head personal-data-head">Адрес места жительства заявителя</div>
                        {% with pdata_form.town as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.street as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        {% with pdata_form.house as field %}
                            <div class="requestion-info">
                                {% include 'account/include/pdata-form-field.html' %}
                            </div>
                        {% endwith %}
                        <div class="block-head personal-data-head">Документы заявителя</div>
                        <div class="personal-document-area requestion-info">
                            {{ doc_form.media }}
                            {{ doc_form.profile }}
                            {% if doc_form.non_field_errors %}
                                <div class="field error">
                                    <label class="field-label"><span class="errors">{% for error in doc_form.non_field_errors %}{{ error }}{% endfor %}</span></label>
                                </div>
                            {% endif %}
                            {% with doc_form.doc_type as field %}
                                <div class="field {% if field.errors %}error{% endif %}">
                                    <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
                                    {% if not field.value or field.errors %}
	                                    <p class="field-value">
	                                        {{ field }}
	                                    </p>
                                    {% else %}
                                        <p class="field-value hidden-input">
                                            <label class="value">{{ field|form_field_verbose }}</label>
                                            {{ field }}
                                            <a class="editor" href="#" onclick="editField(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                                        </p>
                                    {% endif %}
                                </div>
                            {% endwith %}
                            {% with doc_form.doc_name as field %}
                                {% include 'account/include/pdata-form-field.html' %}
                            {% endwith %}
                            {% with doc_form.series as field %}
                                {% include 'account/include/pdata-form-field.html' %}
                            {% endwith %}
                            {% with doc_form.number as field %}
                                {% include 'account/include/pdata-form-field.html' %}
                            {% endwith %}
                            {% with doc_form.issued_date as field %}
                            <div class="field {% if field.errors %}error{% endif %}">
                                <label class="field-label">
                                    {{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span>
                                </label>
                                {% if not field.value or field.errors %}
	                                <p class="field-value">
	                                    {{ field }}
	                                </p>
                                {% else %}
                                    <p class="field-value hidden-input">
                                        <label id="issued_date_label" class="value">{{ field.value }}</label>
                                        {{ field }}
                                    </p>
                                {% endif %}
                                {% if field.help_text %}
                                    <p class="hint">{{ field.help_text }}</p>
                                {% endif %}
                            </div>
                            {% endwith %}
                            {% with doc_form.issued_by as field %}
                                {% include 'account/include/pdata-form-field.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span5">
                    <div class="uniForm">
                        <div class="buttonHolder">
                            <button class="primaryAction" type="submit" disabled="disabled">Сохранить</button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            {% endblock %}
        <div class="vkontakte-info">
            <div class="block-head">Профиль ВКонтакте:</div>
            {% if vkontakte_association %}
                {% url operator_social_data_update user_id=profile.user.id as social_data_update_url %}
                {% url operator_social_data_remove user_id=profile.user.id as social_data_remove_url %}
                <div class="vkontakte-profile clearfix">
                <a target="_blank" class="action-link vkontakte-link" href="http://vk.com/id{{ vkontakte_association.uid }}"><img src="{{ STATIC_URL }}img/vkontakte.png"/> http://vk.com/id{{ vkontakte_association.uid }}</a>
                {% if profile.user.password and profile.user.has_usable_password %}
                    {% url operator_social_auth_disconnect_individual backend=vkontakte_association.provider association_id=vkontakte_association.id as social_auth_disconnect_url %}
                    {% url operator_profile_info profile_id=profile.id as redirect_url %}
                    <a class="vkontakte-remove action-link" href="{{ social_auth_disconnect_url }}?next={{ redirect_url }}"><img src="{{ STATIC_URL }}img/remove.png"/>Отвязать аккаунт</a>
                {% else %}
                    <div class="alert alert-error">Чтобы отвязать учетную запись ВКонтакте необходимо задать пароль</div>
                {% endif %}
                </div>
                <div class="small-field">
                    <div class="field">
                    <label class="field-label">Ссылка на профиль в публичной очереди:</label>
                    {% url operator_social_profile_public profile_id=profile.id as social_profile_public_url %}
                    <form id="profile-form" action="{{ social_profile_public_url }}">
                        <div class="field-value">
                        {% with profile_change_form.social_auth_public as field%}
                            {{ field }}
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        {% endwith %}
                        </div>
                    </form>
                    <p class="hint">Публично доступный профиль ВКонтакте повышает доверие граждан к Электронной очереди</p>
                    </div>
                </div>
            {% else %}
                <p>Заявитель не привязал к своему профилю аккаунт ВКонтакте</p>
            {% endif %}
        </div>
        {% if 'esia_auth' in special_apps %}
        <div class="esia-binding-group">
            <div class="group-head">Профиль в ЕСИА:</div>
            {% if profile.esia_id %}
            <p>К профилю привязана учетная запись ЕСИА</p>
            {% else %}
            <p>Заявитель не привязал к своему профилю учетную запись ЕСИА</p>
            {% endif %}
        </div>
        {% endif %}
        {% block profile_additions %}
            {{ block.super }}
        {% endblock %}
        </div>
    </div>
    <div class="span5">
        <div class="requestion-info">
            <div class="block-head">Заявки профиля:</div>
            {% for requestion in profile.requestion_set.all|dictsort:"id" %}
                <div class="requestion-block {% cycle "white" "gray" %}">
                <label class="field-label">№ заявки:</label>
                {% url operator_requestion_info requestion_id=requestion.id as requestion_url %}
                <p class="field-value"><a href="{{ requestion_url }}">{{ requestion.requestion_number }}</a></p>
                <label class="field-label">Имя:</label>
                <p class="field-value">{{ requestion.name }}</p>
                <label class="field-label">Дата рождения:</label>
                <p class="field-value">{{ requestion.birth_date }}</p>
                <label class="field-label">Статус:</label>
                {% if requestion.document_confirmed %}
                    <p class="field-value">{{ requestion.get_status_display }}</p>
                {% else %}
                    <p class="field-value">
                        <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                        {{ requestion.get_status_display }}
                        <span class="status-not-approved">Статус не подтвержден оператором</span>
                    </p>
                {% endif %}
                </div>
            {% endfor %}
            {% url operator_requestion_add profile_id=profile.id as requestion_add_url %}
            <a class="link-with-image requestion-add action-link" href="{{ requestion_add_url }}">
                <img src="{{ STATIC_URL }}img/icon_add.fw.png"/>
                Добавить заявку
            </a>
        </div>
    </div>
    </div>
{% endblock %}
