{% extends "operator/requestion_base.html" %}
{% load zenforms %}

{% block bottomjs %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/knockout-2.1.0.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var Benefits = {};
            Benefits.documentTemplates = _.values(DOCUMENT_TEMPLATES); // Список всех шаблонов документов
            Benefits.documentList = {{ documents|safe }}; // Список документов для заявки

            Benefits.View = function(el){
                var self = this;

                this.el = el;
                this.getSelections = function(){
                    return _.map($(self.el).val(), function(item){return Number(item)});
                };
                var _selections = this.getSelections();

                this.selected = ko.observableArray(_selections);
                this.required_templates = ko.computed(function(){
                    /** Взять выбранные шаблоны **/
                    var required_templates = _.select(
                        Benefits.documentTemplates, function(item){
                            return _.intersection(item.benefits, self.selected()).length > 0;
                    });
                    /** Добавить к каждому шаблону в списке подходящие документы **/
                    _.each(required_templates, function(template){
                        template.documents = _.filter(Benefits.documentList, function(document){
                            return document.template == template.id;
                        });
                    });
                    return required_templates;
                });

                $(el).on('change', function(ev){
                    self.selected(self.getSelections());
                });
                return this;
            };

            var benefits = new Benefits.View('#id_benefits');
            ko.applyBindings(benefits);
        });
    </script>
{% endblock %}

{% block title %}Изменение льгот заявки {{ requestion }}{% endblock %}

{% block content %}
<div class="row" id="benefit-editor">
    <div class="span7">
        <div class="page-header"><h2>Список льгот</h2></div>
        <form id="benefits-form" action="." method="POST" class="uniForm">
            {% izenform benefits_form options notag=1 %}
            {% submit "Сохранить" %}
        </form>
    </div>
    <div class="span3">
        <div class="page-header"><h2>Документы</h2></div>
        <div id="document-list">
            <ul class="documents" data-bind="foreach: required_templates">
                <li>
                    <span data-bind="text: name"></span><br />
                    <!-- ko foreach: documents -->
                    Номер <span data-bind="text: document_number"></span>
                    <span data-bind="if: confirmed"><i class="icon-ok green"></i>Подтвержден</span>
                    <span data-bind="ifnot: confirmed"><i class="icon-remove red"></i>Не подтвержден</span>
                    <!-- /ko -->

                    <!-- ko if: documents.length==0 -->
                    <span class="quiet">Документ не загружен</span>
                    <a data-bind="attr: {href: '{% url operator_documents_change requestion.id %}#!/add/' + id}"><i class="icon-plus green"></i> Добавить</a>
                    <!-- /ko -->
                    <hr />
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
