{% extends "operator/requestion_base.html" %}
{% load zenforms %}

{% block js %}
    {{ block.super }}
    {{ openlayers_js }}
{% endblock %}

{% block title %}Изменение заявки {{ requestion }}{% endblock %}

{% block content %}
    <form action="." class="uniForm" method="POST">
        {% if form.non_field_errors %}
            <div id="errorMsg">
                {% load i18n %}
                <h3>{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</h3>
                <ol>
                    {% for error in registration_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in profile_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in requestion_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
        {% izenform form options notag=1%}
        {% submit "Сохранить" %}
    </form>
{% endblock %}
