{% extends "operator/requestion_base.html" %}
{% load zenforms %}

{% block content_title %}
    <h1>{% block title %}Документы заявки {{ requestion.requestion_number }}{% endblock %}</h1>
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    <script type="text/javascript">
    $(function(){
        /** Подстановка элементов добавить-удалить **/
        $('#documents_form tr').formset({
            prefix: '{{ formset.prefix }}',
            deleteText: '<i class="red icon-remove">&nbsp;</i>',
            addText: '<button class="btn btn-success"><i class="icon-plus"></i> Добавить</button>',
            addCssClass: 'add-row'
        });

        /** Автоматическая валидация номера документа **/
        $('#documents_form').on('keyup', 'input[name$=document_number]', function(ev){
            var document_number = $(ev.target).val(),
                template_number = $(ev.target).parents('tr').find('select[name$=template]').val(),
                template = DOCUMENT_TEMPLATES[template_number],
                re = new RegExp(DOCUMENT_TEMPLATES[template_number].regexp);

            if (re) {
                if (re.test(document_number)) {
                    $(ev.target).parents('tr').find('td:last .errorlist').remove();
                    $(ev.target).css('color', 'green').animate({'color': 'black'});
                } else {
                    if ($(ev.target).parents('tr').find('td:last .errorlist').length === 0) {
                        /** Создать список ошибок **/
                        $(ev.target).parents('tr').find('td:last')
                            .append('<div class="errorlist"><span class="error">Номер не соответствует формату ' + template.help_text + '</span></div>');
                        $(ev.target).css('color', 'red');
                    } else {
                        /** А если он уже есть, заменить там сообщение **/
                        $(ev.target).parents('tr').find('td:last .errorlist .error').slice(1).remove();
                        $(ev.target).parents('tr').find('td:last .errorlist .error')
                            .text('Номер не соответствует формату ' + template.help_text + '');
                        $(ev.target).css('color', 'red');
                    }
                }
            }
        });

        /** Добавление документа по хэшу в адресе **/
        if (parseUri(window.location.anchor)) {
            var anchor = parseUri(window.location).anchor,
                match = /!\/add\/(\d{1,3})/.exec(anchor);

            if (match) {
                $('#documents_form tr:last :input[name$=template]').val(match);
                $('#documents_form tr:last :input[name$=document_number]').focus();
            }
        }
    });


    </script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Мои документы</h2>
    {% if confirmed %}
        <div class="documents">
        {% for document in confirmed %}
            <div class="document row">
                <div class="span3">{{ document.template }}</div>
                <div class="span3">{{ document.document_number }}</div>
                <div class="span3">
                    {% if document.confirmed %}<i class="green icon-ok-circle"></i>Подтвержден
                    {% else %}<i class="red icon-ban-circle"></i>Не подтвержден
                    {% endif %}
                </div>

            </div>
        {% endfor %}
        </div>
        <hr />
    {% endif %}
    <form id="documents_form" action="." method="post" class="uniForm">
        <table>
        {{ formset.management_form }}
        <thead>
            <tr>
                <th>Тип документа</th>
                <th>Номер документа</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for form in formset %}
            <tr>
                <td>
                    {{ form.template }}
                </td>
                <td >
                    {{ form.document_number }}
                </td>
                <td class="centered">
                {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                {{ form.DELETE }}
{#                {{ form.errors }}#}
                {% if form.errors %}
                    <div class="errorlist">
                    {% for error in form.non_field_errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                        <span class="error">{{ form.template.errors }}</span>
                        <span class="error">{{ form.document_number.errors }}</span>
                    </div>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% csrf_token %}
        </table>
        {% submit "Сохранить" %}
    </form>
{% endblock %}
