{% extends "operator/base.html" %}

{% load zenforms sadiki_core_tags %}

{% block js %}
    {{ block.super }}
    {{ openlayers_js }}
{% endblock %}

{% block title %}
    Изменение {{ sadik }}
{% endblock %}

{% block content_menu %}
    {% url sadik_list as sadik_list_url %}
    {% url sadik_info sadik_id=sadik.id as sadik_url %}
    {% url sadik_info_change sadik_id=sadik.id as sadik_info_change_url %}
    <ul class="content-menu">
        <li {% if request.path == sadik_list_url %}class="active"{% endif %}>
            <a href="{{ sadik_list_url }}">Список ДОУ</a>
        </li>
        
        <li {% if request.path == sadik_url %}class="active"{% endif %}>
            <a href="{{ sadik_url }}">{{ sadik }}</a>
        </li>
        {% if request.user.is_sadik_operator %}
        <li {% if request.path == sadik_info_change_url %}class="active"{% endif %}>
            <a href="{{ sadik_info_change_url }}">Изменение {{ sadik }}</a>
        </li>
        {% endif %}
        {% url requestion_list_enroll as requestion_list_enroll_url %}
        {% if requestion_list_enroll_url|check_url_availability:request.user %}
            <li {% if request.path == requestion_list_enroll_url %}class="active"{% endif %}>
                <a href="{{ requestion_list_enroll_url }}">Зачисление</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    {% izenform form options submit="Сохранить" %}
{% endblock %}
