{% extends "distribution/distribution_base.html" %}

{% block title %}Выделение мест{% endblock %}

{% block content %}
    {% if area %}
        <h1>{{ area.name }} территориальная область</h1>
    {% endif %}
    {% if distribution %}
        <h2 class="page-header">Распределение началось, свободные места регистрировать нельзя</h2>
    {% endif %}
    {% for sadik in sadiks %}
        <h3>
        {% if not distribution %}
            <a name="sadik_{{ sadik.id }}"></a><a href="{% url sadikgroup_change_places sadik.id %}">{{ sadik.short_name }}</a>
        {% else %}
            {{ sadik.short_name }}
        {% endif %}
        </h3>
        {% if sadik.related_groups %}
        <table class="table table-striped table-bordered table-condensed places-table">
            <thead>
                <tr>
                    <th>Возрастная категория</th>
                    <th class="capacity">Выделено мест</th>
                    <th class="free-places">Свободных мест</th>
                </tr>
            </thead>
            <tbody>
                {% for group in sadik.related_groups %}
                <tr>
                    <td>{{ group.age_group }} за {{ group.year.year }} год (с {{ group.min_birth_date }} по {{ group.max_birth_date }})</td>
                    <td>{{ group.capacity }}</td>
                    <td>{{ group.free_places }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            Группы не заданы
        {% endif %}
    {% endfor %}

{% endblock %}
