{% extends "distribution/distribution_base.html" %}

{% block title %}Выделение мест{% endblock %}

{% block content %}
<div class="fast-filter">
  <span class="add-on">Быстрый поиск: </span>
  <input id="kg-list-filter" type="text"
         data-bind="value: filterText, valueUpdate: 'keyup'"
         placeholder="Начните вводить название ДОУ">
</div>
<div class="accordion" id="kindergtn-list-accordion" data-bind='foreach: kindergtnsToShow'>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse"
         data-parent="#kindergtn-list-accordion"
         data-bind="text: shortName, attr: {href: '#kindergtn_' + id()}, click: $parent.getAgeGroups, highlightedText: { text: shortName, highlight: $parent.filterText}"
         href=""></a>
    </div>
    <div id="" class="accordion-body collapse" data-bind="attr: {id: 'kindergtn_' + id()}">
      <div class="accordion-inner">
        <table class="table table-striped table-bordered table-condensed places-table">
          <thead>
            <tr>
              <th>Возрастная категория</th>
              <th class="capacity">Выделено мест</th>
              <th class="free-places">Свободных мест</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: ageGroups">
            <tr>
              <td data-bind="text: name"></td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottomjs %}
  {{ block.super }}
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.highlight.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/libs/knockout-3.3.0.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/sadiki_distribution_app.js'></script>
{% endblock bottomjs %}
