{% extends "operator/base.html" %}
{% load zenforms %}

{% block title %}
    Необходимо указать идентифицирующий документ для заявки {{ requestion }}
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_template').regexpValidate('#id_document_number');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="requestion-info">
        <div class="block-head">С заявкой нельзя выполнять никаких действий, пока не будет указан идентифицирующий документ.</div>
        <div class="span8">
        <form action="." class="requestion-form requestion-add-form" method="post">
            {% csrf_token %}
            <div class="uniForm">
                <div class="errMsg">
                    {{ form.non_field_errors }}
                </div>
            </div>
            {% with form.template as field %}
                {% include "account/include/requestion-form-field.html" %}
            {% endwith %}
            {% with form.document_number as field %}
                {% include "account/include/requestion-form-field.html" %}
            {% endwith %}
            <input type="hidden" name="next" value="{{ redirect_to }}" />
            <div class="uniForm">
                <div class="buttonHolder">
                    <button class="primaryAction" type="submit">Задать</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
