{% extends "account/account_base.html" %}

{% block content_title %}
    <h1>{% block title %}История изменений{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for requestion, logs_with_messages in  requestions_with_logs %}
        <h2>Заявка {{ requestion }}</h2>
        {% include "logger/include/include_logs.html" %}
    {% endfor %}
    {% if pdata_logs %}
        {% with pdata_logs as logs_with_messages %}
            <h2>Изменения персональных данных</h2>
            {% include "logger/include/include_logs.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}