{% extends 'base.html' %}
{% load sadiki_core_tags zenforms paginate %}

{% block content_title %}<h1>{% block title %}Электронная очередь в ДОУ{% endblock %}</h1>{% endblock %}

{% block content %}
<h1>{{ person.get_verbose_name }}</h1>

<div class="pagination-page">
    {% digg_paginator %}
</div>

<table class="table table-stripped table-bordered table-condensed">
	<thead>
	<tr>
        <th>№</th>
        <th>Дата события</th>
        <th>Объект</th>
        <th>Действие</th>
        <th>Сообщение</th>
        <th>Основание</th>
	</tr>
	</thead>
	<tbody>
	{% for log in log_data %}
		<tr>
            <td>{{ forloop.counter|add:offset }}</td>
            <td>{{ log.0.datetime }}</td>
            <td>{% if log.2 %}<a href="{% url requestion_logs log.2.id %}">{{ log.2 }}</a>{% endif %}</td>
            <td>{{ log.0.get_action_flag_display }}</td>
            <td>
            	{% for logmessage in log.1 %}{{ logmessage.message }}<br>{% endfor %}
            </td>
            <td>{{ log.0.reason }}</td>
        </tr>
	{% endfor %}
	</tbody>
</table>

<div class="pagination-page">
    {% digg_paginator %}
</div>


{% endblock content %}
