{% extends "logger/report_base.html" %}

{% block content %}
    {{ block.super }}
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th rowspan="2">ДОУ</th>
                <th rowspan="2">Детей в ДОУ на {{ from_date }}</th>
                <th colspan="3">Движение контингента</th>
                <th rowspan="2">Детей в ДОУ на {{ to_date }}</th>
            </tr>
            <tr>
                <th>Направлено</th>
                <th>Зачислено</th>
                <th>Отчислено</th>
            </tr>
        </thead>
    {% for area_info in areas_info %}
        <tr>
            <td cellspan="6">{{ area_info.area_name }}</td>
        </tr>
        {% for sadik_info in area_info.sadiks_info %}
            <tr>
                <td>{{ sadik_info.sadik_name }}</td>
                <td>{{ sadik_info.requestions_for_sadik_begin }}</td>
                <td>{{ sadik_info.decision_number }}</td>
                <td>{{ sadik_info.distribution_number }}</td>
                <td>{{ sadik_info.dismiss_number }}</td>
                <td>{{ sadik_info.requestions_for_sadik_end }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock %}
