{% extends "anonym/registration_base.html" %}
{% load zenforms %}

{% block content_title %}
    <h1>{% block title %}Вход в систему{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6 right-split">
        <form class="uniForm registrationForm" method="post">
            {% if form.non_field_errors %}
                <div id="errorMsg">
                    {% load i18n %}
                    <h3>{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</h3>
                    <ol>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <h2>Профиль в «Электроочереди»</h2>
            {% izenform form options notag=1 %}
            <p class="hint">Для входа в систему может использоваться выданное при регистрации имя пользователя или электронный почтовый адрес. Добавить и подтвердить электронный адрес можно на главной странице профиля.</p>
            <div class="buttonHolder">
                <button class="primaryAction" type="submit">Войти</button>
            </div>
        </form>
        </div>
        <div class="span5">
            <h3>Через Единую Систему Идентификации и Аутентификации</h3>
            <div class="esia-registration">
                <a class="esia-button" href="{% url esia_authenticate %}">
                    Вход через ЕСИА
                </a>
            </div>
            <h2>Через профиль социальной сети</h2>
            <div class="vkontakte-registration">
                <a class="social-button" href="{% url socialauth_login_begin 'vkontakte-oauth2' %}">
                    <img src="{{ STATIC_URL }}img/vkontakte-large.png"/>
                    Вход через ВКонтакте
                </a>
            </div>
        </div>
    </div>
{% endblock %}
