{% extends "anonym/registration_base.html" %}
{% load zenforms %}

{% block content_title %}
    <h1>{% block title %}Вход в систему{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6 right-split">
        <form class="uniForm registrationForm" method="post">
            {% if form.non_field_errors %}
                <div id="errorMsg">
                    {% load i18n %}
                    <h3>{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</h3>
                    <ol>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            <h2>Профиль в «Электроочереди»</h2>
            {% izenform form options notag=1 %}
            <p class="hint">Для входа в систему может использоваться выданное при регистрации имя пользователя или электронный почтовый адрес. Добавить и подтвердить электронный адрес можно на главной странице профиля.</p>
            <div class="buttonHolder">
                <button class="primaryAction" type="submit">Войти</button>
            </div>
        </form>
        </div>
        <div class="span5">
            <h2>Внешние источники</h2>

            <div class="social-auth-group">
                <div class="service-icon">
                    <img src="{{ STATIC_URL }}img/esia-large.png"/>
                </div>
                <div class="registration">
                    <a class="auth-link" href="{% url esia_authenticate %}">
                        ЕСИА
                    </a>
                    <p class="hint">Вход через Единую Систему Идентификации и Аутентификации (ЕСИА).
                    Если у вас уже есть профиль в «Электроочереди», войдите в систему с помощью этих данных
                    и прикрепите к своему профилю учетную запись в ЕСИА. Если ваша учетная запись в ЕСИА
                    не привязана ни к одному профилю «Электроочереди», при входе через ЕСИА будет
                    автоматически создан новый профиль в «Электроочереди».</p>
                </div>
            </div>

            <div class="social-auth-group">
                <div class="service-icon">
                    <img src="{{ STATIC_URL }}img/vkontakte-large.png"/>
                </div>
                <div class="registration">
                    <a class="auth-link" href="{% url socialauth_login_begin 'vkontakte-oauth2' %}">
                        ВКонтакте
                    </a>
                    <p class="hint">Вход через ВКонтакте. Если у вас есть профиль в «Электроочереди»,
                    войдите в систему с помощью этих данных и прикрепите к своему профилю аккаунт ВКонтакте.
                    После прикрепления вы сможете входить в систему, используя учетную запись ВКонтакте
                    без дополнительного ввода данных профиля. Вам не нужно сообщать «Электроочереди»
                    свой пароль от социальной сети, необходимо только разрешить доступ к самым общим данным о вас.
                    В любой момент вы можете отвязать доступ «Электроочереди» от аккаунта ВКонтакте.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
