{% extends 'account/account_base.html' %}

{% load zenforms sadiki_core_tags %}

{% block bottomjs %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
    <script>
        var el;
        // csrf
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function social_data_update(element){
            el = element;
            var element = $(element);
            var field_value_element = element.closest('.field-value')
            field_value_element.children('.controls').children('.buttons').hide()
            field_value_element.children('.controls').children('.loading').show()
            {% if request.user.is_operator %}
                {% url operator_social_data_update user_id=profile.user.id as social_data_update_url %}
            {% else %}
                {% url account_social_data_update as social_data_update_url %}
            {% endif %}
            $.ajax("{{ social_data_update_url }}", {
                    type: 'POST',
                    data: {field: element.attr('id')},
                    dataType:'json',
                    success: function(data, textStatus, jqXHR){
                        if (data.ok) {
                            var value_element = field_value_element.children('.value')
                            if (data.field_value) {
                                value_element.html(data.field_value)
                            } else {
                                value_element.html('Не задано')
                            }
                        }
                    },
                    error: function(){
                    },
                    complete: function(jqXHR, textStatus){
                        field_value_element.children('.controls').children('.loading').hide()
                        field_value_element.children('.controls').children('.buttons').show()
                    }
            })
        }
        function social_data_remove(element){
            var element = $(element);
            var field_value_element = element.closest('.field-value')
            field_value_element.children('.controls').children('.buttons').hide()
            field_value_element.children('.controls').children('.loading').show()
            field_value_element.children('.buttons').hide()
            field_value_element.children('.loading').show()
            {% if request.user.is_operator %}
                {% url operator_social_data_remove user_id=profile.user.id as social_data_remove_url %}
            {% else %}
                {% url account_social_data_remove as social_data_remove_url %}
            {% endif %}
            $.ajax("{{ social_data_remove_url }}", {
                    type: 'POST',
                    data: {field: element.attr('id')},
                    dataType:'json',
                    success: function(data, textStatus, jqXHR){
                        if (data.ok) {
                            field_value_element.children('.value').html('Не задано')
                        }
                    },
                    error: function(){
                    },
                    complete: function(jqXHR, textStatus){
                        field_value_element.children('.controls').children('.loading').hide()
                        field_value_element.children('.controls').children('.buttons').show()
                    }
            })
        }
        $(document).ready(function(){
            $('#profile-form select').change(function(){
                form_data = $('#profile-form').serialize();
                $('#profile-form select').attr('disabled', 'disabled');
                $('#profile-form .loading').show();
                $.ajax($('#profile-form').attr("action"), {
                    type: 'POST',
                    data: form_data,
                    complete: function(jqXHR, textStatus){
                        $('#profile-form select').attr('disabled', false);
                        $('#profile-form .loading').hide();
                    }
                })
            })
        })
    </script>
{% endblock bottomjs %}
{% block content %}
    <div class="notification-area">
        {% if profile.get_profile.requestion_set.not_confirmed.exists %}
            <div class="label label-important">Вам необходимо в ближайшее время подтвердить заявки, обратившись в управление образования.</div>
        {% endif %}
    </div>
    <div class="row">
    <div class="span6">
        <div class="requestion-info">
            <label class="field-label">Логин:</label>
            <p class="field-value">{{ profile.user.username }}</p>

        <div class="vkontakte-info">
            {% block vkontakte_info %}
            <div class="block-head">Профиль ВКонтакте:</div>
            {% if vkontakte_association %}
                <div class="vkontakte-profile clearfix">
                <a target="_blank" class="action-link vkontakte-link" href="http://vk.com/id{{ vkontakte_association.uid }}"><img src="{{ STATIC_URL }}img/vkontakte.png"/> http://vk.com/id{{ vkontakte_association.uid }}</a>
                {% if profile.user.password and profile.user.has_usable_password %}
                    {% url account_social_auth_disconnect_individual backend=vkontakte_association.provider association_id=vkontakte_association.id as social_auth_disconnect_url %}
                    {% url account_frontpage as redirect_url %}
                    <a class="vkontakte-remove action-link" href="{{ social_auth_disconnect_url }}?next={{ redirect_url }}"><img src="{{ STATIC_URL }}img/remove.png"/>Отвязать аккаунт</a>
                {% else %}
                    <div class="label label-important">Чтобы отвязать учетную запись ВКонтакте необходимо задать пароль</div>
                {% endif %}
                </div>
                <div class="small-field">
                    <div class="field">
                    <label class="field-label">Ссылка на профиль в публичной очереди:</label>
                    {% url social_profile_public as social_profile_public_url %}
                    <form id="profile-form" action="{{ social_profile_public_url }}">
                        <div class="field-value">
                        {% with profile_change_form.social_auth_public as field%}
                            {{ field }}
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        {% endwith %}
                        </div>
                    </form>
                    <p class="hint">Публично доступный профиль ВКонтакте повышает доверие граждан к Электронной очереди</p>
                    </div>
                </div>
                <div class="field">
                    <label class="field-label">Имя:</label>
                    <p class="field-value">
                        <span class="value">{{ profile.first_name|verbose_value }}</span>
                        <span class="controls">
                        <span class="buttons">
                            <a href="#" id="first_name" onclick="social_data_update(this); return false"><img src="{{ STATIC_URL }}img/refresh.png"/></a>
                            <a href="#" id="first_name" onclick="social_data_remove(this); return false"><img src="{{ STATIC_URL }}img/remove.png"/></a>
                        </span>
                        <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="field-label">Телефон:</label>
                    <p class="field-value">
                        <span class="value">{{ profile.phone_number|verbose_value }}</span>
                        <span class="controls">
                            <span class="buttons">
                                <a href="#" id="phone_number" onclick="social_data_update(this); return false"><img src="{{ STATIC_URL }}img/refresh.png"/></a>
                                <a href="#" id="phone_number" onclick="social_data_remove(this); return false"><img src="{{ STATIC_URL }}img/remove.png"/></a>
                            </span>
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="field-label">Skype:</label>
                    <p class="field-value">
                        <span class="value">{{ profile.skype|verbose_value }}</span>
                        <span class="controls">
                            <span class="buttons">
                                <a href="#" id="skype" onclick="social_data_update(this); return false"><img src="{{ STATIC_URL }}img/refresh.png"/></a>
                                <a href="#" id="skype" onclick="social_data_remove(this); return false"><img src="{{ STATIC_URL }}img/remove.png"/></a>
                            </span>
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        </span>
                    </p>
                    <p class="hint">
                        Эти данные импортируются из вашего профиля ВКонтакте.
                        Для того, чтобы у оператора была возможность связаться с вами, заполните в профиле
                        Дополнительный телефон и Skype, установите настройки приватности по усмотрению.
                        В любой момент вы можете обновить или удалить данные, импортированные из ВКонтакте, из «Электроочереди».
                    </p>
                </div>
            {% else %}
                <p>К этой учетной записи не привязан аккаунт ВКонтакте</p>
                <a class="action-link link-with-image" href="{% url socialauth_connect 'vkontakte-oauth2' %}">
                    <img src="{{ STATIC_URL }}img/vkontakte.png"/>
                    Привязать аккаунт
                </a>
            {% endif %}
            {% endblock %}
        </div>
        </div>
    </div>
    <div class="span5">
        <div class="requestion-info">
            <div class="block-head">Мои заявки:</div>
            {% for requestion in profile.requestion_set.all %}
                <div class="requestion-block {% cycle "white" "gray" %}">
                <label class="field-label">№ заявки:</label>
                {% if request.user.is_operator %}
                    {% url operator_requestion_info requestion_id=requestion.id as requestion_url %}
                {% else %}
                    {% url account_requestion_info requestion_id=requestion.id as requestion_url %}
                {% endif %}
                <p class="field-value"><a href="{{ requestion_url }}">{{ requestion.requestion_number }}</a></p>
                <label class="field-label">Имя:</label>
                <p class="field-value">{{ requestion.name }}</p>
                <label class="field-label">Дата рождения:</label>
                <p class="field-value">{{ requestion.birth_date }}</p>
                <label class="field-label">Статус:</label>
                {% if requestion.document_confirmed %}
                    <p class="field-value">{{ requestion.get_status_display }}</p>
                {% else %}
                    <p class="field-value">
                        <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                        {{ requestion.get_status_display }}
                        <span class="status-not-approved">Статус не подтвержден оператором</span>
                    </p>
                {% endif %}
                <label class="field-label">Ваш порядковый номер в очереди:</label>
                <p class="field-value">{{ requestion.position_in_queue }}</p>
                </div>
            {% endfor %}
            {% if request.user.is_operator %}
                {% url operator_requestion_add profile_id=profile.id as requestion_add_url %}
            {% else %}
                {% url requestion_add_by_user as requestion_add_url %}
            {% endif %}
            <a class="link-with-image requestion-add action-link" href="{{ requestion_add_url }}">
                <img src="{{ STATIC_URL }}img/icon_add.fw.png"/>
                Добавить заявку
            </a>
        </div>
    </div>
    </div>
{% endblock %}
