{% extends 'account/account_base.html' %}

{% load zenforms sadiki_core_tags %}

{% block bottomjs %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
    <script>
        var el;
        var email_string;
        // csrf
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function dataChange(element, url){
            var element = $(element);
            var field_value_element = element.closest('.field-value');
            field_value_element.children('.controls').children('.buttons').hide();
            field_value_element.children('.controls').children('.loading').show();
            $.ajax(url, {
                    type: 'POST',
                    data: {field: element.attr('id')},
                    dataType:'json',
                    success: function(data, textStatus, jqXHR){
                        if (data.ok) {
                            var value_element = field_value_element.children('.value')
                            if (data.field_value) {
                                value_element.html(data.field_value)
                            } else {
                                value_element.html('Не задано')
                            }
                        }
                    },
                    error: function(){
                    },
                    complete: function(jqXHR, textStatus){
                        field_value_element.children('.controls').children('.loading').hide();
                        field_value_element.children('.controls').children('.buttons').show();
                    }
            })
        }

        function emailSubmit() {
            var url = '{% url email_change %}';
            if ($('#id_email').val() === email_string) {
                mailEditToLabel();
                return false;
            }
            $.ajax(url, {
                    type: 'POST',
                    data: {'email': $('#id_email').val()},
                    dataType:'json',
                    success: function(data, textStatus, jqXHR){
                        if (data.ok) {
                            $('#email_form div').removeClass('error');
                            $('#email_err_span').remove();
                            mailEditToLabel();
                            $('#mail_change_success').show();
                        }
                        else {
                            $('#email_form div').addClass('error');
                            var span = $('<span/>')
                                .attr('class', 'error')
                                .attr('id', 'email_err_span')
                                .text(' (' + data.errors.email[0] + ')');
                            $('#email_form label').append(span);
                        }
                    },
                    error: function(){
                        console.log('error')
                    },
                    complete: function(jqXHR, textStatus){
                    }
            })
        }

        function mailLabelToEdit() {
            $('#mail_change_success').hide();
            email_string = $('#id_email').val();
            var element = $('#change_mail_btn');
            var save_button = element.parent().prev();
            save_button.show();
            save_button.prev().children('p').show();
            element.parent().hide();
            {% if profile.user.email %}
            $('#id_email').focus();
            $('#id_email').blur(function() {
                if ($('#id_email').val() === email_string) {
                    mailEditToLabel();
                    return false;
                }
            })
            {% endif %}
        }

        function mailEditToLabel(){
            var element = $('#email_btn');
            element.prev().children('p').hide();
            element.hide();
            element.next().children('label').text($('#id_email').val());
            element.next().show();
        }

        function send_confirmation_letter() {
            $.get('{% url send_confirm_letter %}');
            $('#mail_confirm_sent').show();
        }

        $(document).ready(function(){
            {% if not profile.user.email %}
            mailLabelToEdit();
            {% else %}
            mailEditToLabel();
            {% endif %}

            // делаем по ентеру отправку ajax а не post-формы
            $('#id_email').keypress(function(e) {
                if(e.keyCode==13) {
                    $('#email_btn').click();
                    return false;
                }
            });

            $('#profile-form select').change(function(){
                form_data = $('#profile-form').serialize();
                $('#profile-form select').attr('disabled', 'disabled');
                $('#profile-form .loading').show();
                $.ajax($('#profile-form').attr("action"), {
                    type: 'POST',
                    data: form_data,
                    complete: function(jqXHR, textStatus){
                        $('#profile-form select').attr('disabled', false);
                        $('#profile-form .loading').hide();
                    }
                })
            });
            $("#email_explain").popover({
                title: "Электронный почтовый адрес",
                content: '<p>Указанный электронный почтовый адрес можно использовать для входа на сайт. Также на него будут отправляться уведомления о смене статуса ваших заявок, зачислении и т.д.</p>',
                placement: "top"});
        })
    </script>
{% endblock bottomjs %}
{% block content %}
    <div class="notification-area">
        {% if profile.requestion_set.not_confirmed.exists %}
            <div class="alert alert-error">Вам необходимо в ближайшее время подтвердить заявки, обратившись в управление образования.</div>
        {% endif %}
    </div>
    <div class="row">
    <div class="span6">
        <div class="requestion-info">
            <label class="field-label">Имя пользователя:</label>
            <p class="field-value">{{ profile.user.username }}</p>
            <form method="POST" id="email_form">
                {% csrf_token %}
                <div class="field">
                    <label class="field-label">{{ form.email.label }} </label>
                    <span id="email_explain" class="icon-question-sign" data-original-title=""></span>
                    <p class="field-value">
                        <input type="text" name="email" id="id_email" value="{{ profile.user.email }}">
                    </p>
                </div>
                <a href="#" class="btn" id="email_btn" onclick="emailSubmit(); return false">Сохранить</a>
                <p id="filled_email_label" class="field-value">
                    {% if not profile.email_verified %}
                        <img src="/static/img/icon_not_approved.fw.png">
                    {% else %}
                        <img title="Почтовый адрес подтвержден" src="/static/img/icon_approved.fw.png">
                    {% endif %}
                    <label class="value">{{ profile.user.email }}</label>
                    <a class="editor" id="change_mail_btn" href="#" onclick="mailLabelToEdit(); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                    {% if not profile.email_verified %}
                        <span class="status-not-approved">Почтовый ящик не подтвержден</span>
                    {% endif %}
                </p>
                <p class="text-success" hidden="" id="mail_change_success">Электронный почтовый ящик успешно изменен. На него отправлено письмо с инструкциями по подтверждению почтового ящика. Письмо действительно в течение трех дней.</p>
                {% if user == profile.user and user.email and not profile.email_verified %}
                    <button  id="confirm_mail_button" class="btn btn-small btn-success" type="button" onclick="send_confirmation_letter(); return false">
                    Подтвердить почтовый адрес</button>
                    <p id="mail_confirm_sent" hidden="">На указанный почтовый адрес отправлено письмо с инструкциями по подтверждению. Письмо действительно в течении трех дней. Письма можно запрашивать не чаще, чем раз в 5 минут.</p>
                {% endif %}
            </form>
        <div class="vkontakte-info clearfix">
            {% block vkontakte_info %}
            <div class="block-head">Профиль ВКонтакте:</div>
            {% if vkontakte_association %}
                {% url account_social_data_update as social_data_update_url %}
                {% url account_social_data_remove as social_data_remove_url %}
                <div class="vkontakte-profile clearfix">
                <a target="_blank" class="action-link vkontakte-link" href="http://vk.com/id{{ vkontakte_association.uid }}"><img src="{{ STATIC_URL }}img/vkontakte.png"/> http://vk.com/id{{ vkontakte_association.uid }}</a>
                {% if profile.user.password and profile.user.has_usable_password %}
                    {% url account_social_auth_disconnect_individual backend=vkontakte_association.provider association_id=vkontakte_association.id as social_auth_disconnect_url %}
                    {% url account_frontpage as redirect_url %}
                    <a class="vkontakte-remove action-link" href="{{ social_auth_disconnect_url }}?next={{ redirect_url }}"><img src="{{ STATIC_URL }}img/remove.png"/>Отвязать аккаунт</a>
                {% else %}
                    <div class="alert alert-error">Чтобы отвязать учетную запись ВКонтакте необходимо задать пароль</div>
                {% endif %}
                </div>
                <div class="small-field">
                    <div class="field">
                    <label class="field-label">Ссылка на профиль в публичной очереди:</label>
                    {% url social_profile_public as social_profile_public_url %}
                    <form id="profile-form" action="{{ social_profile_public_url }}">
                        <div class="field-value">
                        {% with profile_change_form.social_auth_public as field%}
                            {{ field }}
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        {% endwith %}
                        </div>
                    </form>
                    <p class="hint">Публично доступный профиль ВКонтакте повышает доверие граждан к Электронной очереди</p>
                    </div>
                </div>
                <div class="field">
                    <label class="field-label">Имя:</label>
                    <p class="field-value">
                        <span class="value">{{ profile.first_name|verbose_value }}</span>
                        <span class="controls">
                        <span class="buttons">
                            <a href="#" id="first_name" onclick="dataChange(this, '{{ social_data_update_url }}'); return false"><img src="{{ STATIC_URL }}img/refresh.png"/></a>
                            <a href="#" id="first_name" onclick="dataChange(this, '{{ social_data_remove_url }}'); return false"><img src="{{ STATIC_URL }}img/remove.png"/></a>
                        </span>
                        <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="field-label">Телефон:</label>
                    <p class="field-value">
                        <span class="value">{{ profile.phone_number|verbose_value }}</span>
                        <span class="controls">
                            <span class="buttons">
                                <a href="#" id="phone_number" onclick="dataChange(this, '{{ social_data_update_url }}'); return false"><img src="{{ STATIC_URL }}img/refresh.png"/></a>
                                <a href="#" id="phone_number" onclick="dataChange(this, '{{ social_data_remove_url }}'); return false"><img src="{{ STATIC_URL }}img/remove.png"/></a>
                            </span>
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="field-label">Skype:</label>
                    <p class="field-value">
                        <span class="value">{{ profile.skype|verbose_value }}</span>
                        <span class="controls">
                            <span class="buttons">
                                <a href="#" id="skype" onclick="dataChange(this, '{{ social_data_update_url }}'); return false"><img src="{{ STATIC_URL }}img/refresh.png"/></a>
                                <a href="#" id="skype" onclick="dataChange(this, '{{ social_data_remove_url }}'); return false"><img src="{{ STATIC_URL }}img/remove.png"/></a>
                            </span>
                            <img class="loading" src="{{ STATIC_URL }}img/small-ajax-loader.gif"/>
                        </span>
                    </p>
                    <p class="hint">
                        Эти данные импортируются из вашего профиля ВКонтакте.
                        Для того, чтобы у оператора была возможность связаться с вами, заполните в профиле
                        Дополнительный телефон и Skype, установите настройки приватности по усмотрению.
                        В любой момент вы можете обновить или удалить данные, импортированные из ВКонтакте, из «Электроочереди».
                    </p>
                </div>
            {% else %}
                <p>К этой учетной записи не привязан аккаунт ВКонтакте</p>
                <a class="action-link link-with-image" href="{% url socialauth_connect 'vkontakte-oauth2' %}">
                    <img src="{{ STATIC_URL }}img/vkontakte.png"/>
                    Привязать аккаунт
                </a>
            {% endif %}
            {% endblock %}
        </div>
        <div class="esia-info clearfix">
            {% block esia_info %}
            <div class="block-head">Учетная запись в ЕСИА:</div>
            {% if profile.esia_id %}
                <p>К этой учетной записи привязана учетная запись ЕСИА</p>
                <p>[Здесь будет ссылка "отвязать учётную запись"]</p>
            {% else %}
                <p>К этой учетной записи не привязана учетная запись ЕСИА.
                   Вы можете осуществить привязку, пройдя по ссылке ниже.
                </p>
                <p>[Здесь будет ссылка "привязать учётную запись"]</p>
            {% endif %}
            {% endblock %}
        </div>
        <div class="split-line"></div>
        </div>
    </div>
    <div class="span5">
        <div class="requestion-info">
            <div class="block-head">Мои заявки:</div>
            {% for requestion in profile.requestion_set.all|dictsort:"id" %}
                <div class="requestion-block {% cycle "white" "gray" %}">
                <label class="field-label">№ заявки:</label>
                {% if request.user.is_operator %}
                    {% url operator_requestion_info requestion_id=requestion.id as requestion_url %}
                {% else %}
                    {% url account_requestion_info requestion_id=requestion.id as requestion_url %}
                {% endif %}
                <p class="field-value"><a href="{{ requestion_url }}">{{ requestion.requestion_number }}</a></p>
                <label class="field-label">Имя:</label>
                <p class="field-value">{{ requestion.name }}</p>
                <label class="field-label">Дата рождения:</label>
                <p class="field-value">{{ requestion.birth_date }}</p>
                <label class="field-label">Статус:</label>
                {% if requestion.document_confirmed %}
                    <p class="field-value">{{ requestion.get_status_display }}</p>
                {% else %}
                    <p class="field-value">
                        <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                        {{ requestion.get_status_display }}
                        <span class="status-not-approved">Статус не подтвержден оператором</span>
                    </p>
                {% endif %}
                </div>
            {% endfor %}
            {% if request.user.is_operator %}
                {% url operator_requestion_add profile_id=profile.id as requestion_add_url %}
            {% else %}
                {% url requestion_add_by_user as requestion_add_url %}
            {% endif %}
            <a class="link-with-image requestion-add action-link" href="{{ requestion_add_url }}">
                <img src="{{ STATIC_URL }}img/icon_add.fw.png"/>
                Добавить заявку
            </a>
        </div>
    </div>
    </div>
{% endblock %}
