{% extends "account/base.html" %}

{% block content_menu %}
    {% url account_frontpage as account_frontpage_url%}
    {% url account_profile_change as account_profile_change_url %}
    <ul class="content-menu">
        <li {% if request.path == account_frontpage_url %}class="active"{% endif %}>
            <a href="{{ account_frontpage_url }}">Личный кабинет</a>
        </li>
        <li {% if request.path == account_profile_change_url %}class="active"{% endif %}>
            <a href="{{ account_profile_change_url }}">Изменить профиль</a>
        </li>
    </ul>
{% endblock %}
