{% extends "account/account_base.html" %}
{% load zenforms sadiki_core_tags pytils_numeral %}

{% block content_title %}
    <h1>{% block title %}Информация о заявке {{ requestion }}{% endblock %}</h1>
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include "includes/leaflet_css.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.css" />
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    {% load_settings %}
        <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
        <script src="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.js"></script>
        <script src="{{ STATIC_URL }}leaflet/plugins/markercluster/leaflet.markercluster.js"></script>
        <script src="{{ STATIC_URL }}leaflet/tile.stamen.js"></script>
        <script src="{{ STATIC_URL }}js/requestion.js?v1.5.8"></script>

        <script>
            {% with requestion.location as point %}
            {% if point %}
                var requestion_point = [{{ point.y }}, {{ point.x }}];
                {% if can_change_requestion %}
                    var requestion_marker = L.marker(requestion_point, {
                        draggable: true,
                        zIndexOffset: 1001,
                    });
                    requestion_marker.on('dragend', function() {
                        lat_lng = this.getLatLng();
                        requestion_point = [lat_lng.lat, lat_lng.lng];
                        $('.requestion-form #id_location').val("POINT ("+lat_lng.lng+" "+lat_lng.lat+")");
                        field_changed($("#location-header"));
                    });
                {% else %}
                    var requestion_marker = L.marker(requestion_point)
                {% endif %}
                requestion_marker.options.title="Маркер положения заявки";
            {% else %}
                var requestion_point = null
                var requestion_marker = null
            {% endif %}
            var areas_ids = {{ areas_ids }};
            var map;
            var sadiksLayer;
            var areaSadiksLayer;
            var prefSadikLayer;
            var sadik_location_data = {{ sadiks_location_data|safe }};
            var areas_all = [];
            {% for area in areas_all %}
                areas_all[{{ forloop.counter0 }}] = { id: {{ area.id }},
                                                      name: '{{ area.name }}',
                                                      sadiks: [],
                                                      center: {} };
            {% endfor %}

            var activeSadikIconURL = '{{ STATIC_URL }}img/sadik-icon.png';
            var areaSadikIconURL = '{{ STATIC_URL }}img/sadik-icon-yellow.png';
            var inactiveSadikIconURL = '{{ STATIC_URL }}img/sadik-icon-gray.png';

            var drawControlOptions = {
                draw: {
                    polyline: false,
                    polygon: false,
                    circle: false, // Turns off this drawing tool
                    rectangle: false,
                    marker: true
                }
            }

            for (s in sadik_location_data) {
                var sadik = sadik_location_data[s];
                areas_all.forEach(function(area) {
                    if (area.id == sadik.area_id) {
                        area.sadiks.push(sadik);
                    }
                });
            };

            var pref_sadiks_ids = {{ pref_sadiks_ids|safe }};
            var sadik_markers;

            // вычисляем центр каждой ТО
            areas_all.forEach(function(area) {
                var center = get_center(area.sadiks);
                area.center = center;
            });

            function field_changed(element) {
                if (!$(element).find('label span.value-changed').length){
                    $(element).children("label").append('<span class="value-changed"> (Изменено)</span>');
                    $(element).children("label").addClass('changed');
                }
                // submit активный
                $('#requestion-form button:button').attr('disabled', false);
                // сообщение при закрытии окна
                function confirmmsg() {
                    return "Все несохраненные изменения будут утеряны";
                }
                window.onbeforeunload = confirmmsg;
            }

            $(document).ready(function(){
                if (requestion_marker) {
                    var map_center = requestion_point
                } else {
                    var map_center = [{{ settings.MAP_CENTER }}].reverse();
                }
                map = new L.Map("account-requestion-map", {
                    center: map_center,
                    zoom: 12
                });
                var osmLayer = new L.TileLayer("{{ settings.LEAFLET_TILES_URL }}", {
                    subdomains: {{ settings.LEAFLET_TILES_SUBDOMAINS|safe }},
                });
                osmLayer.addTo(map);

                var points = L.layerGroup([]);

                var drawnItems = new L.FeatureGroup();
                map.addLayer(drawnItems);
                if (requestion_marker) {
                    drawnItems.addLayer(requestion_marker);
                } else {
                    drawControl = new L.Control.Draw(drawControlOptions);
                    addDrawControl(map, drawControl);
                }

                function addDrawControl(map, control){
                    map.addControl(control);
                    $('.leaflet-draw-edit-edit, .leaflet-draw-draw-marker').click(function(){
                        if (requestion_point) {
                                map.panTo(requestion_point);
                        } else {
                            map.panTo(map_center);
                        }
                    })
                }

                map.on('draw:created', function (e) {
                    var type = e.layerType,
                        layer = e.layer;
                    //убрать элемент добавления маркераs
                    map.removeControl(drawControl);
                    drawControlOptions['draw']['marker'] = false;
                    drawControl = new L.Control.Draw(drawControlOptions);
                    addDrawControl(map, drawControl);

                    drawnItems.clearLayers();
                    drawnItems.addLayer(layer);
                    lat_lng = layer.getLatLng()
                    requestion_point = [lat_lng.lat, lat_lng.lng]
                    requestion_marker = L.marker(requestion_point)
                    $('.requestion-form #id_location').val("POINT ("+ lat_lng.lng + " " + lat_lng.lat + ")")
                    field_changed($("#location-header"));
                });

                renderMarkers(sadik_location_data, map)

                // изменение приоритетных ДОУ
                $("#id_pref_sadiks").change(function(e, data) {
                    var value = parseInt(data.value);
                    if (data.type == 'add'){
                        pref_sadiks_ids.push(value);
                        renderMarkers(sadik_location_data, map)
                        map.panTo(sadik_location_data[value].location.slice().reverse())
                        sadik_markers[value].openPopup()
                    } else {
                        var index = pref_sadiks_ids.indexOf(value);
                        pref_sadiks_ids.splice(index, 1);
                        renderMarkers(sadik_location_data, map)
                    }

                });

            {% if requestion.location %}
                // кнопка на карте, центрируем изображение по заявке
                var draw_button = $('.leaflet-draw-edit-edit');
                var a = $('<a/>')
                    .attr('onclick', 'map.setView(requestion_point, 13); return false')
                    .attr('class', 'leaflet-draw-draw-marker')
                    .attr('title', 'Центрировать по заявке')
                    .attr('href', '#');
                if (draw_button.length > 0) {
                    draw_button.after(a);
                } else {
                    var zoom_bar = $('.leaflet-control-zoom');
                    var div_0 = $('<div/>')
                        .attr('class', 'leaflet-draw leaflet-control');
                    var div_1 = $('<div/>')
                        .attr('class', 'leaflet-draw-section')
                        .appendTo(div_0);
                    var div_2 = $('<div/>')
                        .attr('class', 'leaflet-draw-toolbar leaflet-bar')
                        .appendTo(div_1);
                    a.appendTo(div_2);
                    zoom_bar.after(div_0);
                }
            {% endif %}
            });

            $('#id_areas, #id_distribute_in_any_sadik').change(function(){
                if ($("#id_distribute_in_any_sadik").is(':checked')){
                    if ($("#id_areas").val()){
                        areas_ids = $("#id_areas").val().map(function(i) {return +i;});
                    } else {
                        areas_ids = []
                    }

                } else {
                    areas_ids = null;
                }
                renderMarkers(sadik_location_data, map)
            })
        {% endwith %}

        //при отправке формы нужно убрать запрос на обновление страницы
        function form_submit(f){
            window.onbeforeunload = null;
            $('#requestion-form button:button').attr('disabled', true);
            f.submit();
        }


        // По клику на ссылку выводим еще один select с ТО
        function add_area(element) {
            $(element).before(' \
            <select class="areas_all"> \
                <option value selected="selected">----------</option> \
                {% for area in areas_all %} \
                    <option value="{{ area.id }}">{{ area }}</option> \
                {% endfor %} \
            </select>');
        }

        //обработка нажатия на кнопку редактирвания поля
        function change_field(element){
            var parent = $(element.parentElement);
            parent.children('a').hide();
            parent.children('label').hide();
            parent.children('input, select').show();
            parent.children('input, select').focus();
            parent.children('input').blur(function() {
                parent.children('label').html(parent.children('input').val())
                parent.children('a').show();
                parent.children('label').show();
                parent.children('input').hide();
            })
            parent.children('select').blur(function() {
                parent.children('label').html(parent.find("select option:selected").text())
                parent.children('a').show();
                parent.children('label').show();
                parent.children('select').hide();
            });
        }


        // анимация сворачивания-разворачивания детских садов
        jQuery.fn.toggleText = function(v1, v2) {
            return this.each(function() {
                var element = $(this),
                     text = element.text();

                if(text.indexOf(v1) > -1) {
                    element.text(text.replace(v1, v2));
                    element.prev().addClass("caret-right");
                    element.next().hide();
                } else {
                    element.text(text.replace(v2, v1));
                    element.prev().removeClass("caret-right");
                    element.next().show();
                }
            });
        }

        function change_admission_label(text, date) {
            $('#admission_date_label').text(text);
            field_changed($(this).parents('.field'));
        }

        $(document).ready(function(){
            // прячем родной m2m django виджет
            $('#id_areas').hide();
            // сообщение о том, что поле было изменено + запрос при закрытии окна
            $('input, select').not('#address_text').bind('change', function(){
                var container_el = $(this).parents('.field');
                field_changed(container_el);
            })
            $('p').bind('remove', function(){
                var container_el = $(this).parents('.field');
                field_changed(container_el);
            })

            // поиск адреса по ентеру
            $('#address_text').keypress(function(e) {
                if(e.keyCode==13) {
                    $('#get_coords').click();
                }
            });

            // удаляем льготы, появившиеся при переносе Челябинской ЭО
            delete_special_benefits();

            // меняем значение поля и отметку "изменено" при выборе даты
            $('#id_admission_date').datepicker('option', 'onSelect', change_admission_label);
            // поднимаем картинку виджета выбора даты поступления
            $('#id_admission_date').next().css('margin-top', '-5px');

            $("#queue_explain").popover({
                title: "Положние заявки в очереди",
                content: '<p>В число "Заявок перед вами" входят заявки со статусами Очередник-не подтвержден, Очередник, Выделено место, На комплектовании.</p><br>' +
                         '<p>В число "Из них льготников" входят заявки со статусами Очередник, Выделено место, На комплектовании.</p><br>' +
                         '<p>В число "Документально подтвержденных" входят заявки со статусами Очередник, Выделено место, На комплектовании.</p>',
                placement: "top"});
            $("#pref_dou_groups").popover({
                title: "Группы ДОУ",
                content: "<p>Группа ДОУ - совокупность дошкольных образовательных учреждений, объединенных по территориальному признаку.</p>" +
                "<p>Для заявки может быть выбрано несколько групп. При распределении заявка будет претендовать на свободное место в ближайшем ДОУ из выбранных групп.</p>"
            });
            $('#id_child_snils').snilsValidate();

            $('#id_kinship_type').kinshipFieldHandler();
        });

        $("#requestionform_submit").click(function() {
            $(this).prop("disabled", true);
            $("#requestion-form").submit();
        })
        </script>
{% endblock %}

{% block content %}
    {% block top_block %}
        <div class='notification-area'>
        {% if not can_change_requestion %}
            <div class="alert alert-error">Статус заявки: {{ requestion.get_status_display }}. Редактирование невозможно.</div>
        {% else %}
            {% if not requestion.document_confirmed %}
                <div class="alert alert-error">Вам необходимо в ближайшее время подтвердить заявку, обратившись в управление образования.</div>
            {% else %}
                <div class="alert alert-error">После документального подтверждения, изменение льгот и документов возможно только через оператора.</div>
            {% endif %}
        {% endif %}
        </div>
    {% endblock top_block %}
<form id="requestion-form" action='.' method="post" class="requestion-form {% if not can_change_requestion %}form-disabled{% endif %}" onsubmit="form_submit(this); return false">
<div class="row">
    {% csrf_token %}
    {{ pref_sadiks_form.media }}
    {{ change_requestion_form.media }}
    {{ change_benefits_form.media }}
    {{ pref_sadiks_form.non_field_errors }}
    {{ change_requestion_form.non_field_errors }}
    {{ change_benefits_form.non_field_errors }}
    <div class="span5">
    <div class="requestion-info">
        <div class="block-head">Информация о заявке:</div>
        {% with change_requestion_form.child_last_name as field %}
        <div class="field {% if field.errors %}error{% endif %}">
            <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
            {% if not field.value or field.errors %}
                <p class="field-value">
                    {% if can_change_requestion %}
                        {{ field }}
                    {% else %}
                        &ltне указано&gt
                    {% endif %}
                </p>
            {% else %}
                <p class="field-value hidden-input">
                    <label class="value">{{ field.value }}</label>
                    {{ field }}
                    <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                </p>
            {% endif %}
        </div>
        {% endwith %}
        <div class="{% if change_requestion_form.name.errors %}error {% endif %}field">
            <label class="field-label">{{ change_requestion_form.name.label }}{% if change_requestion_form.name.errors %}<span class="value-changed"> ({{ change_requestion_form.name.errors|striptags }})</span>{% endif %}</label>
            <p class="field-value hidden-input">
                <label class="value">{{ change_requestion_form.name.value }}</label>
                {{ change_requestion_form.name }}
                <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
            </p>
        </div>
        {% with change_requestion_form.child_middle_name as field %}
        <div class="field {% if field.errors %}error{% endif %}">
            <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
            {% if not field.value or field.errors %}
                <p class="field-value">
                    {% if can_change_requestion %}
                        {{ field }}
                    {% else %}
                        &ltне указано&gt
                    {% endif %}
                </p>
            {% else %}
                <p class="field-value hidden-input">
                    <label class="value">{{ field.value }}</label>
                    {{ field }}
                    <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                </p>
            {% endif %}
            <p class="hint">{% if not field.field.required %}При наличии. {% endif %}{% if field.help_text %}{{ field.help_text }}{% endif %}</p>
        </div>
        {% endwith %}
        <div class="{% if change_requestion_form.sex.errors %}error {% endif %}field">
            <label class="field-label">{{ change_requestion_form.sex.label }}{% if change_requestion_form.sex.errors %}<span class="value-changed"> ({{ change_requestion_form.sex.errors|striptags }})</span>{% endif %}</label>
            <p class="field-value hidden-input">
                <label class="value">{{ change_requestion_form.sex|form_field_verbose }}</label>
                {{ change_requestion_form.sex }}
                <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
            </p>
        </div>
        {% with change_requestion_form.birthplace as field %}
        <div class="field {% if field.errors %}error{% endif %}">
            <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
            {% if not field.value or field.errors %}
                <p class="field-value">
                    {% if can_change_requestion %}
                        {{ field }}
                    {% else %}
                        &ltне указано&gt
                    {% endif %}
                </p>
            {% else %}
                <p class="field-value hidden-input">
                    <label class="value">{{ field.value }}</label>
                    {{ field }}
                    <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                </p>
            {% endif %}
        </div>
        {% endwith %}
        {% with change_requestion_form.child_snils as field %}
        <div class="field {% if field.errors %}error{% endif %}">
            <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
            {% if not field.value or field.errors %}
                <p class="field-value">
                    {% if can_change_requestion %}
                        {{ field }}
                    {% else %}
                        &ltне указано&gt
                    {% endif %}
                </p>
            {% else %}
                <p class="field-value hidden-input">
                    <label class="value">{{ field.value }}</label>
                    {{ field }}
                    <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                </p>
            {% endif %}
            <p class="hint">{% if not field.field.required %}При наличии. {% endif %}{% if field.help_text %}{{ field.help_text }}{% endif %}</p>
        </div>
        {% endwith %}
        <div class="select-with-text-option">
        {% with change_requestion_form.kinship_type as field %}
        <div class="field {% if field.errors %}error{% endif %}">
            <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
            <p class="field-value">
                {{ field }}
            </p>
            {% if field.help_text %}
                <p class="hint">{{ field.help_text }}</p>
            {% endif %}
        </div>
        {% endwith %}
        {% with change_requestion_form.kinship as field %}
        <div class="field {% if field.errors %}error{% endif %}">
            <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
            <p class="field-value">
                {{ field }}
            </p>
            <p class="hint">{% if not field.field.required %}При наличии. {% endif %}{% if field.help_text %}{{ field.help_text }}{% endif %}</p>
        </div>
        {% endwith %}
        </div>
        <div class="field">
            <label class="field-label">Дата регистрации</label>
            <p class="field-value">
                <span class="value">{{ requestion.registration_datetime }}</span>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Дата рождения</label>
            <p class="field-value">
                <span class="value">{{ requestion.birth_date }}</span>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Возрастная группа</label>
            <p class="field-value">
                <span class="value">{{ requestion.age_groups.0|default:"Ребёнок не попадает ни в одну возрастную категорию." }}</span>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Желаемая дата зачисления</label>
            <p class="field-value hidden-input">
                <label id="admission_date_label" class="value">{{ requestion.admission_date }}</label>
                {{ change_requestion_form.admission_date }}
            </p>
        </div>

        <div class="hidden">
            {{ change_requestion_form.location }}
        </div>
    </div>
    </div>
    <div class="span6">
        {% block top_right %}
        <div class="requestion-info">
        <div class="field">
            <label class="field-label">Статус</label>
            {% if requestion.document_confirmed %}
                <p class="field-value">{{ requestion.get_status_display }}</p>
            {% else %}
                <div class="document-info">
                <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                <p class="field-value">
                    {{ requestion.get_status_display }}
                    {% if requestion.status == STATUS_REQUESTER_NOT_CONFIRMED %}
                    <span class="status-not-approved">Статус не подтвержден оператором</span>
                    {% endif %}
                </p>
                </div>
            {% endif %}
        </div>
        <div class="block-head top-indent">Документы:</div>
        <div class="field">
            {% for document in requestion.evidience_documents %}
            <label class="field-label">{{ document.template }}</label>
            <div>
                <span class="document-info">
                {% if not document.confirmed %}
                    <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                    <div class="field-value">
                        {{ document.document_number }}
                        <span class="status-not-approved">Документ не подтвержден оператором</span>
                    </div>
                {% else %}
                    <img src="{{ STATIC_URL }}img/icon_approved.fw.png"/>
                    <div class="field-value">
                        {{ document.document_number }}
                        <span class="status-approved">Документ подтвержден</span>
                    </div>
                {% endif %}
                </span>
            </div>
            {% endfor %}
        </div>
        <div class="field">
            <label class="field-label">Льготы</label>
            {% if can_change_benefits %}
                {{ change_benefits_form.benefits }}
            {% else %}
                {% with requestion.benefits.all as requestion_benefits %}
                    {% if requestion_benefits %}
                    <ul class="benefits-list">
                        {% for benefit in requestion_benefits%}
                            <li class="bsmListItem"><span class="bsmListItemLabel">{{ benefit }}</span></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="field-value">Не заданы</p>
                    {% endif %}
                {% endwith %}
                {% if can_change_requestion %}
                    <span class="status-not-approved">Для изменения льгот обратитесь к оператору</span>
                {% endif %}
            {% endif %}
        </div>
        </div>
        {% endblock top_right %}
    </div>
</div>

<div class="row">
    <div class="requestion-info span11">
        <div class="split-line"></div>
        <div class="block-head">Выбор ДОУ</div>
    </div>
</div>
<div class="row sadiks-block">
    <div class="span5">
        <div class="requestion-info">
            {% if use_districts %}
            <div id="district_div">
                <label class="field-label">Район</label>
                <p class="field-value hidden-input">
                    <label class="value">{{ requestion.district }}</label>
                    {{ change_requestion_form.district }}
                    <a class="editor" href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
                </p>
            </div>
            {% endif %}
        <div class="{% if pref_sadiks_form.areas.errors %}error {% endif %}field">
            <label class="field-label">{{ pref_sadiks_form.areas.label }}{% if pref_sadiks_form.areas.errors %}<span class="value-changed"> ({{ pref_sadiks_form.areas.errors|striptags }})</span>{% endif %}</label> <span id="pref_dou_groups" class="icon-question-sign"></span>
            {% for area in requestion.areas.all %}
                {% if pref_sadiks_form.areas.value %}
                <p class="field-value hidden-input">
                    <a id="area_map_anchor" class="icon-map-marker" href="#" onclick="center_area({{ area.id }}); return false"></a>
                    <a id="{{ area.id }}" class="value value-anchor" href="#" onclick="show_kidgardens(this); return false">
                            {{ area|default:"Весь муниципалитет" }}
                    </a> <span class="caret caret-right caret-margins"></span>
                    <a class="editor" href="#" onclick="del_field(this); return false"
                        data-toggle="tooltip" title="Удалить группу ДОУ">
                        <i id="area-close" class="icon-remove"></i>
                    </a>
                </p>
                {% endif %}
                <ul class="kidgs_list unstyled">
                </ul>
            {% endfor %}
            <div></div>
            {{ pref_sadiks_form.areas }}
            <a class="editor" href="#" onclick="add_area(this); return false"><i class="icon-plus"></i>Добавить группу ДОУ</a>
        </div>
        <div class="field">
            <label class="field-label">Приоритетные ДОУ</label>
            {% if can_change_requestion %}
                {{ pref_sadiks_form.pref_sadiks }}
            {% else %}
                {% with requestion.pref_sadiks.all as requestion_sadiks %}
                    {% if requestion_sadiks %}
                    <ul class="benefits-list">
                        {% for sadik in requestion_sadiks %}
                            <li class="bsmListItem"><span class="bsmListItemLabel">{{ sadik }}</span></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="field-value">Не заданы</p>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
        </div>
    </div>
    <div class="span6">
        <div class="requestion-info">
        <div id="location-header" class="{% if change_requestion_form.location.errors %}error {% endif %}field">
            <a class="btn" id="get_coords" {% if change_requestion_form.location.errors %}style="margin-top: 19px;" {% endif %}onclick="requestion.get_coords('{% url get_coords_from_address %}')">Найти адрес на карте</a>
            <label class="field-label">{{ change_requestion_form.location.label }} {% if change_requestion_form.location.errors %} <span class="errors">({% for error in change_requestion_form.location.errors %}{{ error }}{% endfor %})</span>{% endif %}</label>
            <div style="overflow: hidden; padding-right: .5em;">
            <input type="text" id="address_text" placeholder="Введите адрес: город, улица, дом"></div>
            <div id="coords_alert" class="alert" style="display: none;">
            </div>
            <div id="coords_success" class="alert alert-success" style="display: none;">
                Теперь при помощи мышки перетащите маркер заявки на новое местоположение на карте
            </div>
            <div id="account-requestion-map"></div>
            <p class="hint">Относительно этого местоположения оператор будет подбирать ближайшие ДОУ, если на момент распределения заявки в приоритетных садах не будет свободных мест.<br>
            Для изменения местоположения заявки просто перетащите маркер мышкой.</p>
        </div>
        </div>
        <ul class='map-legend'>
            {% if requestion.location %}
                <li><h3 class="icon-map-marker"></h3> - центрировать карту по заявке</li>
            {% else %}
                <li><h3 class="icon-map-marker"></h3> - указать местоположение заявки на карте</li>
            {% endif %}
            <li><img id="req_mark" src="{{ STATIC_URL }}leaflet/images/marker-icon.png" height="20" width="12" /> - маркер положения заявки</li>
            <li><img src="{{ STATIC_URL }}img/sadik-icon.png"/> - выбранные приоритетные ДОУ</li>
            <li><img src="{{ STATIC_URL }}img/sadik-icon-yellow.png"/> - в один из этих ДОУ заявка будет зачислена, если в приоритетных не останется места</li>
            <li><img src="{{ STATIC_URL }}img/sadik-icon-gray.png"/> - остальные ДОУ муниципалитета</li>
        </ul>
    </div>
</div>
{% if can_change_requestion %}
<div class="row">
    <div class="span11">
        <button id="requestionform_submit" class="btn btn-primary btn-large pull-right" type="button" disabled="disabled">Сохранить</button>
    </div>
</div>
{% endif %}
</form>
{% block bottom %}
    <div class="requestion-queue">
        <div class="split-line"></div>
        <div class="block-head">Очередь заявок</div>
        <div class="queue-info">
            <p>Заявок перед Вами: <span class="black-number">{{ requestions_before }}</span>
                (Из них льготников: <span class="black-number">{{ benefits_before }}.</span>
                Документально подтвержденных: <span class="black-number">{{ confirmed_before }}</span>)
                <span id="queue_explain" class="icon-question-sign black-number"></span></p>
            <p>Заявок после Вас: <span class="black-number">{{ requestions_after }}</span> (
                Из них льготников: <span class="black-number">{{ benefits_after }}.</span>
                Документально подтвержденных: <span class="black-number">{{ confirmed_after }}</span>)</p>
        </div>
        {% with queue as object_list %}
        {% with requestion as target_requestion %}
            {% include "anonym/includes/queue_include.html" %}
        {% endwith %}
        {% endwith %}

        <div class="block-head"><a href="{% url anonym_queue  %}?requestion_number={{ requestion.requestion_number }}">Смотреть всю очередь</a></div>
    </div>
{% endblock bottom %}
{% endblock %}
