{% extends "account/account_base.html" %}
{% load zenforms sadiki_core_tags %}

{% block js %}
    {{ block.super }}
    {{ openlayers_js }}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include "includes/leaflet_css.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.css" />
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.js"></script>
    <script src="{{ STATIC_URL }}leaflet/plugins/markercluster/leaflet.markercluster.js"></script>
    <script src="{{ STATIC_URL }}leaflet/tile.stamen.js"></script>
    <script src="{{ STATIC_URL }}js/requestion.js"></script>
    <script type="text/javascript">
        {% load_settings %}
        var areas_ids = [];
        var requestion_point = null;
        var requestion_marker = null;
        var map;
        var sadiksLayer;
        var areaSadiksLayer;
        var prefSadikLayer;
        var sadik_location_data = {{ sadiks_location_data|safe }};
        var pref_sadiks_ids = [];
        var sadik_markers;
        var map_center = null;
        var areas_all = [];
        {% for area in areas_all %}
            areas_all[{{ forloop.counter0 }}] = { id: {{ area.id }},
                                                  district_id: {{ area.district.id }},
                                                  name: '{{ area.name }}',
                                                  sadiks: [],
                                                  center: {} };
        {% endfor %}

        var activeSadikIconURL = '{{ STATIC_URL }}img/sadik-icon.png';
        var areaSadikIconURL = '{{ STATIC_URL }}img/sadik-icon-yellow.png';
        var inactiveSadikIconURL = '{{ STATIC_URL }}img/sadik-icon-gray.png';

        for (s in sadik_location_data) {
            var sadik = sadik_location_data[s];
            areas_all.forEach(function(area) {
                if (area.id == sadik.area_id) {
                    area.sadiks.push(sadik);
                }
            });
        };

        // dummy function, to use requestion.js
        function field_changed(elem) {
            return true;
        }

        // вычисляем центр каждой ТО
        areas_all.forEach(function(area) {
            var center = get_center(area.sadiks);
            area.center = center;
        });



        var drawnItems = new L.FeatureGroup();
        // Initialize the draw control and pass it the FeatureGroup of editable layers
        var draw_control_options = {
            edit: {
                featureGroup: drawnItems,
                remove: false,
                edit: {title: 'Изменить местоположение'}
            },
            draw: {
                polyline: false,
                polygon: false,
                circle: false, // Turns off this drawing tool
                rectangle: false,
                marker: true
            }
        }
        var drawControl = new L.Control.Draw(draw_control_options);
        function add_draw_control(map, control){
            map.addControl(control);
            $('.leaflet-draw-edit-edit, .leaflet-draw-draw-marker').click(function(){
                if (requestion_point) {
                        map.panTo(requestion_point);
                } else {
                    map.panTo(map_center);
                }
            })
        }

        $(document).ready(function(){
            // прячем родной m2m django виджет
            $('#id_areas').hide();
            
            {% if use_districts %}
                $('#areas_field').hide();
            {% endif %}

            if (requestion_marker) {
                map_center = requestion_point
            } else {
                map_center = [{{ settings.MAP_CENTER }}].reverse();
            }
            map = new L.Map("account-requestion-map", {
                center: map_center,
                zoom: 12
            });

            var osmLayer = new L.TileLayer("{{ settings.LEAFLET_TILES_URL }}", {
                subdomains: {{ settings.LEAFLET_TILES_SUBDOMAINS|safe }}
            });
            osmLayer.addTo(map);

            var points = L.layerGroup([]);

            map.addLayer(drawnItems);
            if (requestion_marker){
                drawnItems.addLayer(requestion_marker);
            }

            add_draw_control(map, drawControl);

            map.on('draw:edited', function (e) {
                e.layers.eachLayer(function (layer) {
                    lat_lng = layer.getLatLng()
                    requestion_point = [lat_lng.lat, lat_lng.lng]
                    requestion_marker = L.marker(requestion_point)
                    $('.requestion-form #id_location').val("POINT ("+ lat_lng.lng + " " + lat_lng.lat + ")")
                });
            });

            map.on('draw:created', function (e) {
                var type = e.layerType,
                    layer = e.layer;
                //убрать элемент добавления маркераs
                map.removeControl(drawControl);
                draw_control_options['draw']['marker'] = false;
                drawControl = new L.Control.Draw(draw_control_options);
                add_draw_control(map, drawControl);

                drawnItems.clearLayers();
                drawnItems.addLayer(layer);
                lat_lng = layer.getLatLng()
                requestion_point = [lat_lng.lat, lat_lng.lng]
                requestion_marker = L.marker(requestion_point)
                $('.requestion-form #id_location').val("POINT ("+ lat_lng.lng + " " + lat_lng.lat + ")")
            });

            renderMarkers(sadik_location_data, map)
            // изменение приоритетных ДОУ
            $("#id_pref_sadiks").change(function(e, data) {
                var value = parseInt(data.value);
                if (data.type == 'add'){
                    pref_sadiks_ids.push(value);
                    renderMarkers(sadik_location_data, map)
                    map.panTo(sadik_location_data[value].location.slice().reverse())
                    sadik_markers[value].openPopup()
                } else {
                    var index = pref_sadiks_ids.indexOf(value);
                    pref_sadiks_ids.splice(index, 1);
                    renderMarkers(sadik_location_data, map)
                }
            });
             
            $('#id_district').prop('selectedIndex', 0);
        }) // конец $(document).ready()
        
        // при выборе района прячем поле с районом, показываем ТО
        $(document).on("change", "#id_district", function () {
            var id = $(this).val();
            $("#areas_field").show();
            $("#areas_field .field-value").remove();
            $(".kidgs_list").remove();
            areas_ids = [];
            $('#id_areas option:selected').each(function (){
                this.selected=false;
            });
            areas_all.forEach(function (area) {
                if (area.district_id == id) {
                    add_area_field($("#add_sg"), area.id, area.name);
                    areas_ids.push(area.id);
                    $('#id_areas [value='+area.id+']').attr("selected", "selected");
                }
            });
            renderMarkers(sadik_location_data, map);
        });

        $('#id_areas, #id_distribute_in_any_sadik').change(function(){
            if ($("#id_distribute_in_any_sadik").is(':checked')){
                if ($("#id_areas").val()){
                    areas_ids = [parseInt($("#id_areas").val())]
                } else {
                    areas_ids = []
                }

            } else {
                areas_ids = null;
            }
            renderMarkers(sadik_location_data, map)
        })

        // По клику на ссылку выводим еще один select с ТО
        function add_area(element) {
            $(element).before(' \
            <select class="areas_all"> \
                <option value selected="selected">----------</option> \
                {% for area in areas_all %} \
                    <option value="{{ area.id }}">{{ area }}</option> \
                {% endfor %} \
            </select>');
        }

        // добавляем выбранную ТО к areas
        /*
        $(document).on("change", ".areas_all", function() {
            var id = $(this).val();
            $('#id_areas option').each(function() {
                if (this.value==id) {
                    this.selected = true;
                };
            });
         });
         */
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_template').regexpValidate('#id_document_number');
        });
    </script>
{% endblock %}

{% block content_title %}
    <h1>{% block title %}Добавить заявку{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form id="mainform" action="." class="requestion-form requestion-add-form" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ benefits_form.media }}
        {% if form.non_field_errors or benefits_form.non_field_errors %}
        <div class="uniForm">
            <div id="errorMsg">
                {% load i18n %}
                <h3>
                {% blocktrans count form.non_field_errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </h3>
                <ol>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for error in benefits_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="requestion-info span11">
                <div class="block-head">Информация о заявке</div>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="requestion-info">
                    {% with form.name as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    {% with form.birth_date as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    {% with form.sex as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    {% with form.admission_date as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="span6">
                {% block top_right %}
                <div class="requestion-info">
                    {% with form.template as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    {% with form.document_number as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    <div class="small-field">
                    {% with benefits_form.benefits as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="requestion-info span11">
                <div class="split-line"></div>
                <div class="block-head">Выбор ДОУ</div>
            </div>
        </div>
        <div class="row sadiks-block">

            <div class="span5">
                <div class="requestion-info">
                {% if use_districts %}
                    {% with form.district as field %}
                        {% include "account/include/requestion-form-field.html" %}
                    {% endwith %}
                    <div id="areas_field" class="field">
                        <label id="sg_label" class="field-label">Предпочитаемые группы садиков</label>
                        <div></div>
                        {{ form.areas }}
                        <a id="add_sg" class="editor" href="#" onclick="add_area(this); return false"><i class="icon-plus"></i>Добавить группу садиков</a>
                    </div>
                {% else %}
                    {% with form.areas as field %}
                        <label class="field-label">{{ field.label }}{% if field.errors %} <span class="errors">({% for error in field.errors %}{{ error }}{% endfor %}){% endif %}</span></label>
                        <div></div>
                        {% if field.help_text %}
                            <p class="hint">{{ field.help_text }}</p>
                        {% endif %}
                        {{ field }}
                        <select class="areas_all">
                            <option value selected="selected">----------</option>
                            {% for area in areas_all %}
                            <option value="{{ area.id }}">{{ area }}</option>
                            {% endfor %}
                        </select>
                        <a class="editor" href="#" onclick="add_area(this); return false"><i class="icon-plus"></i>Добавить территориальную область</a>
                    {% endwith %}
                {% endif %}
                {% with form.pref_sadiks as field %}
                    <div class="small-field">
                        {% include "account/include/requestion-form-field.html" %}
                    </div>
                {% endwith %}
                </div>
            </div>
            <div class="span6">
                <div class="requestion-info">
                <div class="field {% if form.location.errors %}error{% endif %}">
                    <div id="location-header">
                        <label class="field-label">{{ form.location.label }} {% if form.location.errors %} <span class="errors">({% for error in form.location.errors %}{{ error }}{% endfor %}){% endif %}</label>
                    </div>
                    <div class="hidden">
                        {{ form.location }}
                    </div>
                    <div id="account-requestion-map"></div>
                    <p class="hint">Относительно этого местоположения оператор будет подбирать ближайшие ДОУ, если на момент распределения заявки в приоритетных садах не будет свободных мест.</p>
                </div>
                <ul class='map-legend'>
                    <li><img src="{{ STATIC_URL }}img/sadik-icon.png"/> - выбранные приоритетные ДОУ</li>
                    <li><img src="{{ STATIC_URL }}img/sadik-icon-yellow.png"/> - в один из этих ДОУ заявка будет зачислена, если в приоритетных не останется места</li>
                    <li><img src="{{ STATIC_URL }}img/sadik-icon-gray.png"/> - остальные ДОУ муниципалитета</li>
                </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span11">
                <div class="uniForm">
                <div class="buttonHolder">
                    <button class="primaryAction" type="submit">Добавить</button>
                </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
