{% extends "account/account_base.html" %}
{% load zenforms sadiki_core_tags pytils_numeral %}

{% block content_title %}
    <h1>{% block title %}Информация о заявке {{ requestion }}{% endblock %}</h1>
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include "includes/leaflet_css.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.css" />
{% endblock %}

{% block bottomjs %}
    {{ block.super }}
    {% load_settings %}
        <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
        <script src="{{ STATIC_URL }}leaflet/plugins/draw/leaflet.draw.js"></script>
        <script src="{{ STATIC_URL }}leaflet/plugins/markercluster/leaflet.markercluster.js"></script>
        <script src="{{ STATIC_URL }}leaflet/tile.stamen.js"></script>

        <script>
            {% with requestion.location as point %}
            {% if point %}
                var requestion_point = [{{ point.y }}, {{ point.x }}]
                var requestion_marker = L.marker(requestion_point)
            {% else %}
                var requestion_marker = null
            {% endif %}
            var areas_ids = {{ areas_ids }};
            var map;
            var sadiksLayer;
            var prefSadikLayer;
            var sadik_location_data = {{ sadiks_location_data|safe }};
            var pref_sadiks_ids = {{ pref_sadiks_ids|safe }};
            var sadik_markers;

            function field_changed(element) {
                if (!$(element).find('label span.value-changed').length){
                    $(element).children("label").append('<span class="value-changed"> (Изменено)</span>');
                    $(element).children("label").addClass('changed');
                }
                // submit активный
                $('#requestion-form button:submit').attr('disabled', false);
                // сообщение при закрытии окна
                function confirmmsg() {
                    return "Все несохраненные изменения будут утеряны";
                }
                window.onbeforeunload = confirmmsg;
            }

            //отрисовка садиков на карте
            function renderMarkers(markers, map) {
                sadik_markers = {}
                if (sadiksLayer){
                    map.removeLayer(sadiksLayer)
                }
                if (prefSadikLayer){
                    map.removeLayer(prefSadikLayer)
                }
                sadiksLayer = new L.MarkerClusterGroup({
                    maxClusterRadius: 30
                });
                prefSadikLayer = new L.LayerGroup()
                var activeSadikIcon = L.icon({
                    iconUrl: '{{ STATIC_URL }}img/sadik-icon.png',

                    iconSize:     [22, 23], // size of the icon
                    iconAnchor:   [11, 11], // point of the icon which will correspond to marker's location
                    shadowAnchor: [4, 62]  // the same for the shadow
                });
                var areaSadikIcon = L.icon({
                    iconUrl: '{{ STATIC_URL }}img/sadik-icon-yellow.png',

                    iconSize:     [22, 23], // size of the icon
                    iconAnchor:   [11, 11], // point of the icon which will correspond to marker's location
                    shadowAnchor: [4, 62]  // the same for the shadow
                });
                var inactiveSadikIcon = L.icon({
                    iconUrl: '{{ STATIC_URL }}img/sadik-icon-gray.png',

                    iconSize:     [22, 23], // size of the icon
                    iconAnchor:   [11, 11], // point of the icon which will correspond to marker's location
                    shadowAnchor: [4, 62]  // the same for the shadow
                });
                function bind_popup(marker){
                    marker.bindPopup('<b>'+markers[key].name+'</b><div>Адрес: '+markers[key].address+'</div><div>Телефон: '+ markers[key].phone +'</div><a href="'+ markers[key].url +'">Перейти к ДОУ</a>');
                }
                for (var key in markers) {
                    if (jQuery.inArray(markers[key].id, pref_sadiks_ids) != -1){
                        var m = L.marker(markers[key].location.slice().reverse(),
                                {title: markers[key].name, icon: activeSadikIcon, zIndexOffset: 1000});
                        m.bindPopup('<b>'+markers[key].name+'</b><div>Адрес: '+markers[key].address+'</div><div>Телефон: '+ markers[key].phone +'</div><a href="'+ markers[key].url +'">Перейти к ДОУ</a>');
                        prefSadikLayer.addLayer(m)
                        sadik_markers[markers[key].id] = m;
                    } else {
                        if (jQuery.inArray(markers[key].area_id, areas_ids) != -1){
                            var m = L.marker(markers[key].location.slice().reverse(), {title: markers[key].name, icon: areaSadikIcon});
                        } else {
                            var m = L.marker(markers[key].location.slice().reverse(), {title: markers[key].name, icon: inactiveSadikIcon});
                        }
                    bind_popup(m)
                    sadiksLayer.addLayer(m);
                    }
                    sadik_markers[markers[key].id] = m;
                }
                map.addLayer(sadiksLayer, true);
                map.addLayer(prefSadikLayer)
            }
            $(document).ready(function(){
                if (requestion_marker) {
                    var map_center = requestion_point
                } else {
                    var map_center = [{{ settings.MAP_CENTER }}].reverse();
                }
                map = new L.Map("account-requestion-map", {
                    center: map_center,
                    zoom: 12
                });
                var osmLayer = new L.TileLayer("{{ settings.LEAFLET_TILES_URL }}", {
                    subdomains: {{ settings.LEAFLET_TILES_SUBDOMAINS|safe }},
                });
                osmLayer.addTo(map);

                var points = L.layerGroup([]);

                var drawnItems = new L.FeatureGroup();
                map.addLayer(drawnItems);
                drawnItems.addLayer(requestion_marker);

                {% if requestion.editable %}
                    // Initialize the draw control and pass it the FeatureGroup of editable layers
                    var drawControl = new L.Control.Draw({
                        edit: {
                            featureGroup: drawnItems,
                            remove: false,
                            edit: {title: 'Изменить местоположение'}
                        },
                        draw: {
                            polyline: false,
                            polygon: false,
                            circle: false, // Turns off this drawing tool
                            rectangle: false,
                            marker: false
                        }
                    });
                    map.addControl(drawControl);
                {% endif %}


                map.on('draw:edited', function (e) {
                    e.layers.eachLayer(function (layer) {
                        lat_lng = layer.getLatLng()
                        requestion_point = [lat_lng.lat, lat_lng.lng]
                        requestion_marker = L.marker(requestion_point)
                        $('.requestion-form #id_location').val("POINT ("+ lat_lng.lng + " " + lat_lng.lat + ")")
                        field_changed($("#location-header"));
                    });
                });

                $('.leaflet-draw-edit-edit').click(function(){
                    map.panTo(requestion_point);
                })
                renderMarkers(sadik_location_data, map)
            // изменение приоритетных ДОУ
            $("#id_pref_sadiks").change(function(e, data) {
                var value = parseInt(data.value);
                if (data.type == 'add'){
                    pref_sadiks_ids.push(value);
                    renderMarkers(sadik_location_data, map)
                    map.panTo(sadik_location_data[value].location.slice().reverse())
                    sadik_markers[value].openPopup()
                } else {
                    var index = pref_sadiks_ids.indexOf(value);
                    pref_sadiks_ids.splice(index, 1);
                    renderMarkers(sadik_location_data, map)
                }

              });
            });
            $('#id_areas').change(function(){
                if ($(this).val()){
                    areas_ids = [parseInt($(this).val())]
                } else {
                    areas_ids = []
                }
                renderMarkers(sadik_location_data, map)
            })
        {% endwith %}

        //при отправке формы нужно убрать запрос на обновление страницы
        function form_submit(f){
            window.onbeforeunload = null;
            f.submit();
        }

        //обработка нажатия на кнопку редактирвания поля
        function change_field(element){
            var parent = $(element.parentElement);
            parent.children('a').hide();
            parent.children('label').hide();
            parent.children('input, select').show();
            parent.children('input, select').focus();
            parent.children('input').blur(function() {
                parent.children('label').html(parent.children('input').val())
                parent.children('a').show();
                parent.children('label').show();
                parent.children('input').hide();
            })
            parent.children('select').blur(function() {
                parent.children('label').html(parent.find("select option:selected").text())
                parent.children('a').show();
                parent.children('label').show();
                parent.children('select').hide();
            });
        }

        $(document).ready(function(){
            // сообщение о том, что поле было изменено + запрос при закрытии окна
            $('input, select').bind('change', function(){
                var container_el = $(this).parents('.field');
                field_changed(container_el);
            })
        });
        </script>
{% endblock %}

{% block content %}
    <div class='notification-area'>
    {% if not requestion.editable %}
        <div class="label label-important">Статус заявки: {{ requestion.get_status_display }}. Редактирование невозможно.</div>
    {% else %}
        {% if not requestion.document_confirmed %}
            <div class="label label-important">Вам необходимо в ближайшее время подтвердить заявку, обратившись в управление образования.</div>
        {% else %}
            <div class="label label-important">После документального подтверждения, изменение льгот и документов возможно только через оператора.</div>
        {% endif %}
    {% endif %}
    </div>
<form id="requestion-form" action='.' method="post" class="requestion-form {% if not requestion.editable %}form-disabled{% endif %}" onsubmit="form_submit(this); return false">
<div class="row">
    {% csrf_token %}
    {{ pref_sadiks_form.media }}
    {{ change_requestion_form.media }}
    {{ change_benefits_form.media }}
    {{ pref_sadiks_form.errors }}
    {{ change_requestion_form.errors }}
    {{ change_benefits_form.error }}
    <div class="span11 requestion-info">
        <div class="block-head">Информация о заявке:</div>
    </div>
    <div class="span6">
    <div class="requestion-info">
        <div class="field">
            <label class="field-label">Имя</label>
            <p class="field-value hidden-input">
                <label class="value">{{ change_requestion_form.name.value }}</label>
                {{ change_requestion_form.name }}
                <a href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Пол</label>
            <p class="field-value hidden-input">
                <label class="value">{{ requestion.get_sex_display }}</label>
                {{ change_requestion_form.sex }}
                <a href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Дата рождения</label>
            <p class="field-value">
                <span class="value">{{ requestion.birth_date|date:"d-m-Y" }}</span>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Возрастная группа</label>
            <p class="field-value">
                <span class="value">{{ requestion.age_groups.0|default:"Ребенок не попадает ни в одну возрастную категорию." }}</span>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Желаемый год поступления</label>
            <p class="field-value hidden-input">
                <label class="value">{{ requestion.admission_date.year }}</label>
                {{ change_requestion_form.admission_date }}
                 <a href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>

            </p>
        </div>

        <div class="hidden">
            {{ change_requestion_form.location }}
        </div>
    </div>
    </div>
    <div class="span5">
        <div class="requestion-info right-block">
        <div class="field">
            <label class="field-label">Документы</label>
            <div>
            {% for document in requestion.evidience_documents %}
                <span class="document-info">
                {% if not document.confirmed %}
                    <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                    <div class="field-value">
                        {{ document.template }}
                        Номер {{ document.document_number }}
                        <span class="status-not-approved">Документ не подтвержден оператором</span>
                    </div>
                {% else %}
                    <img src="{{ STATIC_URL }}img/icon_approved.fw.png"/>
                    <div class="field-value">
                        {{ document.template }}
                        Номер {{ document.document_number }}
                        <span class="status-approved">Документ подтвержден</span>
                    </div>
                {% endif %}
                </span>
            {% endfor %}
            </div>
        </div>
        <div class="field">
            <label class="field-label">Статус</label>
            {% if requestion.document_confirmed %}
                <p class="field-value">{{ requestion.get_status_display }}</p>
            {% else %}
                <div class="document-info">
                <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                <p class="field-value">
                    {{ requestion.get_status_display }}
                    {% if requestion.status == STATUS_REQUESTER_NOT_CONFIRMED %}
                    <span class="status-not-approved">Статус не подтвержден оператором</span>
                    {% endif %}
                </p>
                </div>
            {% endif %}
        </div>
        <div class="field">
            <label class="field-label">Льготы</label>
            {% if requestion.status == STATUS_REQUESTER_NOT_CONFIRMED %}
                {{ change_benefits_form.benefits }}
            {% else %}
                {% with requestion.benefits.all as requestion_benefits %}
                    {% if requestion_benefits %}
                    <ul class="benefits-list">
                        {% for benefit in requestion_benefits%}
                            <li class="bsmListItem"><span class="bsmListItemLabel">{{ benefit }}</span></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="field-value">Не заданы</p>
                    {% endif %}
                {% endwith %}
                {% if requestion.editable %}
                    <span class="status-not-approved">Для изменения льгот обратитесь к оператору</span>
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>
</div>

<div class="row sadiks-block">
    <div class="requestion-info span11">
        <div class="split-line"></div>
        <div class="block-head">Выбор ДОУ</div>
    </div>
    <div class="span6">
        <div class="requestion-info">
        <div class="field">
            <label class="field-label hidden-input">Территориальная область</label>
            <p class="field-value hidden-input">
                <label class="value">{{ requestion.areas.all.0|default:"Весь муниципалитет" }}</label>
                {{ pref_sadiks_form.areas }}
                 <a href="#" onclick="change_field(this); return false"><img src="{{ STATIC_URL }}img/icon_edit.fw.png"/></a>
            </p>
        </div>
        <div class="field">
            <label class="field-label">Приоритетные ДОУ</label>
            {% if requestion.editable %}
                {{ pref_sadiks_form.pref_sadiks }}
            {% else %}
                {% with requestion.pref_sadiks.all as requestion_sadiks %}
                    {% if requestion_sadiks %}
                    <ul class="benefits-list">
                        {% for sadik in requestion_sadiks %}
                            <li class="bsmListItem"><span class="bsmListItemLabel">{{ sadik }}</span></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p class="field-value">Не заданы</p>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>
        <div class="field">
            {% with pref_sadiks_form.distribute_in_any_sadik as field %}
                {% if requestion.editable %}
                    {{ field }}
                    <label class="field-label distribute_in_any_sadik" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% else %}
                    <label class="field-label distribute_in_any_sadik"><img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>{{ field.label }}</label>
                {% endif %}
            {% endwith %}
        </div>
        </div>
    </div>
    <div class="span5">
        <div class="requestion-info">
        <div id="location-header" class="field">
            <label class="field-label">Ваше местоположение</label>
        </div>
        <div id="account-requestion-map"></div>
        <p class="hint">Относительно этого местоположения оператор будет подбирать ближайшие ДОУ, если на момент распределения заявки в приоритетных садах не будет свободных мест.</p>
        </div>
        <ul class='map-legend'>
            <li><img src="{{ STATIC_URL }}img/sadik-icon.png"/> - выбранные приоритетные ДОУ</li>
            <li><img src="{{ STATIC_URL }}img/sadik-icon-yellow.png"/> - в один из этих ДОУ заявка будет зачислена, если в приоритетных не останется места</li>
            <li><img src="{{ STATIC_URL }}img/sadik-icon-gray.png"/> - остальные ДОУ муниципалитета</li>
        </ul>
    </div>
</div>
{% if requestion.editable %}
<div class="row">
    <div class="span11">
        <button class="btn btn-primary btn-large" type="submit" disabled="disabled">Сохранить</button>
    </div>
</div>
{% endif %}
</form>

<div class="requestion-queue">
    <div class="split-line"></div>
    <div class="block-head">Очередь заявок</div>
    <div class="queue-info">
        <p>Заявок перед Вами: <span class="number">{{ requestions_before }}</span>
            (Из них льготников: <span class="number">{{ benefits_before }}.</span>
            Документально подтвержденных: <span class="number">{{ confirmed_before }}</span>)</p>
        <p>Заявок после Вас: <span class="number">{{ requestions_after }}</span> (
            Из них льготников: <span class="number">{{ benefits_after }}.</span>
            Документально подтвержденных: <span class="number">{{ confirmed_after }}</span>)</p>
    </div>
    {% with queue as object_list %}
    {% with requestion as target_requestion %}
        {% include "anonym/includes/queue_include.html" %}
    {% endwith %}
    {% endwith %}

    <div class="block-head"><a href="{% url anonym_queue  %}?requestion_number={{ requestion.requestion_number }}">Смотреть всю очередь</a></div>
</div>
{% endblock %}
