; В секции core устанавливаются значения для настроек ядра системы
[core]

; database
; Настройки базы данных
DATABASE_USER:
DATABASE_PASSWORD:
DATABASE_HOST:
DATABASE_PORT: 5432
DATABASE_NAME:

; secret
; Секретный ключ приложения
SECRET_KEY:

; email
; Адреса электронной почты, используемые приложением
DEFAULT_FROM_EMAIL: no-reply@mestovsadik.ru
SERVER_EMAIL: no-reply@mestovsadik.ru
WEBMASTER: no-reply@mestovsadik.ru
STUFF: no-reply@mestovsadik.ru

; map
; Настройки карты
MAP_CENTER:
MAP_ZOOM:
TILES_URL: http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
TILES_SUBDOMAINS: a b c

MUNICIPALITY_OCATO: 75401376
EMAIL_KEY_VALID: 3
MAX_CHILD_AGE: 7
NEW_YEAR_START: 1 04
APPEAL_DAYS: 30
DESIRED_DATE: 2
DESIRED_SADIKS: 1
FACILITY_STORE: 1
TEMP_DISTRIBUTION: 0
IMMEDIATELY_DISTRIBUTION: 0
ETICKET: 2
SPECIAL_TRANSITIONS: 40,79,80,58
DEFAULT_IMPORT_DOCUMENT_NAME: Свидетельство о рождении
REGION_NAME:
REQUESTION_NUMBER_MASK: 99999999-Б-999999999
USE_DISTRICTS: 0

; Идентификатор приложения для авторизации через Вконтакте
[vkontakte]
VK_APP_ID:
VK_API_SECRET:
