    <div class="esia-binding-group">
        <div class="group-head">Учетная запись в ЕСИА:</div>
        {% if profile.esia_id %}
        <div class="binding-info">
            <img src="{{ STATIC_URL }}img/esia-small.png"/>
            <p>К этой учетной записи привязана учетная запись ЕСИА</p>
        </div>
        <a class="link-with-img" href="{% url esia_unbind_account %}">
            <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
            <span>Отвязать учетную запись</span>
        </a>
        {% else %}
        <div class="binding-info">
            <img src="{{ STATIC_URL }}img/esia-small.png"/>
            <p>К этой учетной записи не привязана учетная запись ЕСИА.
            Вы можете осуществить привязку, пройдя по ссылке ниже.</p>
        </div>
        <a class="link-with-img" href="{% url esia_bind_account %}">
            <img src="{{ STATIC_URL }}img/icon_approved.fw.png"/>
            <span>Привязать учетную запись</span>
        </a>
        {% endif %}
    </div>
