    <div class="esia-binding-group">
        <div class="group-head">Профиль в ЕСИА:</div>
        {% if profile.esia_id %}
        <div class="binding-info">
            <img src="{{ STATIC_URL }}img/esia-small.png"/>
            <p>К этой учетной записи привязана учетная запись ЕСИА</p>
        </div>
        <a class="link" href="{% url esia_unbind_account %}">
            Отвязать учетную запись
        </a>
        {% else %}
        <div class="binding-info">
            <img src="{{ STATIC_URL }}img/esia-small.png"/>
            <p>К этой учетной записи не привязана учетная запись ЕСИА.</p>
        </div>
        <a class="link" href="{% url esia_bind_account %}">
            Привязать учетную запись
        </a>
        {% endif %}
    </div>
