<div class="logarea pull-right">
        {% if request.user.is_authenticated %}
        <ul>
            <li class="dropdown">
                <ul class="dropdown-menu">
                    <li><a href="{% url passwd %}"><i class="icon-key"></i> Смена пароля</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url logout %}"><i class="icon-off"></i> Выход</a></li>
                </ul>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img class="avatar" src="{{ STATIC_URL }}img/avatar.png"/>
                    <p>{{ request.user.get_verbose_name }}</p>
                    <img class="selector" src="{{ STATIC_URL }}img/options-selector.png"/>
                </a>
            </li>
        </ul>
        {% else %}
        <ul class="signup">
            <li><a href="{% url login %}">Войти в систему</a></li>
        </ul>
        {% endif %}
</div>
