{% extends "anonym/base.html" %}
{% load flatpages sadiki_core_tags %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/plugins/multiple-select.css" rel="stylesheet"/>
{% endblock css %}

{% block bottomjs %}
    {{ block.super }}
    <script defer type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap-popover.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.multiple.select.js"></script>
    <script>
        $('#id_status').multipleSelect({
            placeholder: "Выберите статусы из списка",
            selectAllText: "Выбрать все",
            allSelected: "Выбраны все статусы",
            countSelected: "# из % выбрано",
        });
    </script>
{% endblock %}

{% block content_menu %}
    {% url anonym_queue as queue_url %}
    {% url anonym_requestion_search as requestion_search_url %}
    {% url adm_persons_list as adm_persons_url %}
    <ul class="content-menu">
        {% if queue_url|check_url_availability:request.user %}
            <li {% if request.path == queue_url %}class="active"{% endif %}>
                <a href="{{ queue_url }}">Очередь</a>
            </li>
        {% endif %}
        {% if requestion_search_url|check_url_availability:request.user %}
            <li {% if request.path == requestion_search_url %}class="active"{% endif %}>
                <a href="{{ requestion_search_url }}">Поиск заявки</a>
            </li>
        {% endif %}
        {% get_flatpages "/queue_howto/" as queue_howto_pages %}
        {% if queue_howto_pages %}
            <li {% if request.path == queue_howto_pages.0.url %}class="active"{% endif %}>
                <a href="{{ queue_howto_pages.0.url }}">{{ queue_howto_pages.0.title }}</a>
            </li>
        {% endif %}
        {% if not request.user.is_administrative_person %}
            <li {% if request.path == adm_persons_url %}class="active"{% endif %}>
                <a href="{{ adm_persons_url }}">Список сотрудников</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
