{% extends "anonym/registration_base.html" %}

{% load zenforms %}

{% block content_title %}<h1>{% block title %}Регистрация пользователя{% endblock %}</h1>{% endblock %}

{% block content %}
    <div class="row registration-content">
        <div class="span6 right-split">
            <form id="mainform" class="uniForm registrationForm" action="." method="post" >
                {% if registration_form.non_field_errors %}
                    <div id="errorMsg">
                        {% load i18n %}
                        <h3>{% blocktrans count errors|length as counter %}Пожалуйста, исправьте ошибку ниже.{% plural %}Пожалуйста, исправьте ошибки ниже.{% endblocktrans %}</h3>
                        <ol>
                            {% for error in registration_form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
                <h2>Создание профиля</h2>
                {% zenform registration_form options notag=1 %}
                    {% fieldset 'password1' 'password2' %}
                    <div class="permission-checkbox">
                        {% fieldset 'pdata_processing_permit' %}
                    </div>
                    <p class="hint">
                        В соответствии с Федеральным законом № 152-ФЗ от 27.07.2006 года
                        «О персональных данных» выражаю свое согласие на обработку
                        (сбор, систематизацию, накопление, хранение, уточнение, обновление, изменение),
                        использование способами, не противоречащими закону, моих персональных данных
                        (паспортных данных) и данных моего ребенка (данных свидетельства о рождении).
                        Обработка моих персональных данных будет производиться с целью предоставления
                        муниципальной услуги «Прием заявлений, постановка на учет и зачисление детей
                        в образовательные учреждения, осуществляющие образовательную деятельность
                        по программам дошкольного образования, присмотр и уход за детьми»
                        через ведомственную информационную систему «Электроочередь».
                    </p>
                    <p class="hint">
                        После регистрации вам будет присвоено Имя пользователя. Пожалуйста, запомните его и используйте в дальнейшем для входа в «Электроочередь».
                    </p>
                    {% submit "Зарегистрироваться" %}
                {% endzenform %}
            </form>
        </div>

        <div class="span5">
            <h2>Внешние источники</h2>

            {% if 'esia_auth' in special_apps %}
            <div class="social-auth-group">
                <div class="service-icon">
                    <img src="{{ STATIC_URL }}img/esia-large.png"/>
                </div>
                <div class="registration">
                    <a class="auth-link" href="{% url 'esia_authenticate' %}">
                        ЕСИА
                    </a>
                    <p class="hint">Регистрация через Единую Систему Идентификации и Аутентификации (ЕСИА).
                    При регистрации будет автоматически создан новый профиль в «Электроочереди».</p>
                </div>
            </div>
            {% endif %}

            <div class="social-auth-group">
                <div class="service-icon">
                    <img src="{{ STATIC_URL }}img/vkontakte-large.png"/>
                </div>
                <div class="registration">
                    <a class="auth-link" href="{% url 'social_auth:login' 'vkontakte-oauth2' %}">
                        ВКонтакте
                    </a>
                    <p class="hint">Если у вас есть профиль в социальной сети ВКонтакте, вы можете использовать
                    его для регистрации в «Электроочереди». При регистрации ваш аккаунт в социальной сети
                    остается в безопасности. Вам не нужно сообщать «Электроочереди» свой пароль от социальной сети,
                    необходимо только разрешить доступ к самым общим данным о вас.
                    Кроме того, в любой момент вы можете отвязать доступ «Электроочереди» от вашего профиля.</p>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block bottomjs %}
{{ block.super }}
    <script>
    $(document).ready(function() {
        $('#mainform button:submit').prop('disabled', !$('#id_pdata_processing_permit').is(':checked'));

        $('#id_pdata_processing_permit').on('click', function() {
          $('#mainform button:submit').prop('disabled', !$('#id_pdata_processing_permit').is(':checked'));
        });
    });
    </script>
{% endblock %}
