{% extends "anonym/base.html" %}
{% load sadiki_core_tags zenforms pytils_numeral %}

{% block content_title %}
    <h1>{% block title %}Список ДОУ{% endblock %}</h1>
{% endblock %}

{% block content_menu %}
    {% include "anonym/includes/sadik_content_menu.html" %}
{% endblock %}

{% block content %}
    <form action="." method="get" class='uniForm sadikListForm'>
        {% izenform form options notag=1 nocsrf=1 %}
        <div class="buttonHolder">
            <button class="primaryAction" value="submit"><i class="icon-filter"></i> Применить фильтр</button>
        </div>
    </form>
    <table class="sadiks-table table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Телефон</th>
                {% for year in finished_years %}
                    <th class="year-column">Зачислено в {{ year }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for sadik in sadik_list %}
            <tr>
                <td><a href="{% url sadik_info sadik_id=sadik.id %}">{{ sadik.short_name }}</a></td>
                <td>{{ sadik.address|verbose_value }}</td>
                <td>{{ sadik.phone|verbose_value }}</td>
                {% for distributed_number in sadik.distributed_number_list %}
                    <td>
                        <span class="requestions-number">{{ distributed_number.all_requestions }}</span>
                        {% with distributed_number.requestions_with_benefits as requestions_number %}
                            {% if requestions_number %}
                                ({{ requestions_number }} льготн{{ requestions_number|choose_plural:"ая, ых, ых" }})
                            {% endif %}
                        {% endwith %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td>Итого за год:</td>
            <td></td>
            <td></td>
            {% for distributed_number in total_distributed %}
                <td>
                    <span class="requestions-number">{{ distributed_number.all_requestions }}</span>
                    {% with distributed_number.requestions_with_benefits as requestions_number %}
                        {% if requestions_number %}
                            ({{ requestions_number }} льготн{{ requestions_number|choose_plural:"ая, ых, ых" }})
                        {% endif %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
