{% extends "anonym/base.html" %}
{% load sadiki_core_tags %}

{% block content_title %}
    <h1>{% block title %}Список ДОУ{% endblock %}</h1>
{% endblock %}

{% block content_menu %}
    {% include "anonym/includes/sadik_content_menu.html" %}
{% endblock %}

{% block content %}
    <table class="sadiks-table table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Телефон</th>
                {% for year in finished_years %}
                    <th>{{ year }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for sadik in sadik_list %}
            <tr>
                <td><a href="{% url sadik_info sadik_id=sadik.id %}">{{ sadik.short_name }}</a></td>
                <td>{{ sadik.address|verbose_value }}</td>
                <td>{{ sadik.phone|verbose_value }}</td>
                {% for distributed_number in sadik.distributed_number_list %}
                    {% if distributed_number.all_requestions %}
                        <td>
                            {{ distributed_number.all_requestions }}
                            <span class="icon-question-sign" title="В том числе льготных заявок: {{ distributed_number.requestions_with_benefits }}"></span>
                        </td>
                    {% else %}
                        <td>
                            {{ distributed_number.all_requestions }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td>Итого за год:</td>
            <td></td>
            <td></td>
            {% for distributed_number in total_distributed %}
                <td>
                    {{ distributed_number.all_requestions }}
                    <span class="icon-question-sign" title="В том числе льготных заявок: {{ distributed_number.requestions_with_benefits }}"></span>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
