{% extends "anonym/base.html" %}
{% load sadiki_core_tags %}

{% block css %}
    {{ block.super }}
    {% if sadik.address.coords %}
        {% include "includes/leaflet_css.html" %}
    {% endif %}
{% endblock %}

{% block bottomjs %}
{{ block.super }}
    {% with sadik.address.coords as point %}
        {% if point %}
            {% include "includes/leaflet_js.html" %}
            <script type="text/javascript">
            $(document).ready(function(){
                draw_map_for_point('sadik_map', {{ point.x }}, {{ point.y }});
            });
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content_title %}
    <h1>{% block title %}{{ sadik.short_name }}{% endblock %}</h1>
{% endblock %}

{% block content_menu %}
    {% include "anonym/includes/sadik_content_menu.html" %}
{% endblock %}

{% block content %}
    <h2>Контактные данные</h2>
    <div class="clearfix">
        {% if sadik.address.coords %}<div id="sadik_map"></div>{% endif %}
        <dl class="sadik_contacts">
            <dt>{{ sadik|get_field_verbose_name:'name' }}:</dt>
                <dd>{{ sadik.name }}</dd>
            <dt>{{ sadik|get_field_verbose_name:'area' }}:</dt>
                <dd>{{ sadik.area }}</dd>
            <dt>{{ sadik|get_field_verbose_name:'address' }}:</dt>
                <dd>{{ sadik.address|verbose_value }}</dd>
            {% if sadik.phone %}
                <dt>{{ sadik|get_field_verbose_name:'phone' }}:</dt>
                <dd>{{ sadik.phone }}</dd>
            {% endif %}
            {% if sadik.head_name %}
                <dt>{{ sadik|get_field_verbose_name:'head_name' }}:</dt>
                <dd>{{ sadik.head_name }}</dd>
            {% endif %}
            {% if sadik.site %}
                <dt>{{ sadik|get_field_verbose_name:'site' }}:</dt>
                <dd><a href="{{ sadik.site }}">{{ sadik.site }}</a></dd>
            {% endif %}
            {% if sadik.email %}
                <dt>{{ sadik|get_field_verbose_name:'email' }}:</dt>
                <dd><a href="mailto:{{ sadik.email }}">{{ sadik.email }}</a></dd>
            {% endif %}
            {% if sadik.tech_level %}
                <dt>{{ sadik|get_field_verbose_name:'tech_level' }}:</dt>
                <dd>{{ sadik.tech_level }}</dd>
            {% endif %}
            {% if sadik.training_program %}
                <dt>{{ sadik|get_field_verbose_name:'training_program' }}:</dt>
                <dd>{{ sadik.training_program }}</dd>
            {% endif %}
            {% if sadik.extended_info %}
                <dt>{{ sadik|get_field_verbose_name:'extended_info' }}:</dt>
                <dd>{{ sadik.extended_info }}</dd>
            {% endif %}
        </dl>
    </div>
    <h2>ДОУ указан в качестве приоритетного</h2>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Критерий</th>
                <th>Количество</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Очередники
                </td>
                <td>{{ requestions_statistics.prefer_requestions_number }}</td>
            </tr>
            <tr>
                <td>
                    Очередники, имеющие право на первоочередное зачисление
                </td>
                <td>{{ requestions_statistics.prefer_benefit_requestions_number }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Количество детей в очереди с разбивкой по возрастным категориям</h2>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            {% for group in groups %}
                <th>{{ group.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for number in requestions_numbers_by_groups %}
                <td>{{ number }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    {% if groups_with_distributed_requestions %}
        <h2>Список детей для которых было выделено место в ДОУ</h2>
        {% with request.user.is_operator as user_is_operator %}
        {% if user_is_operator %}
            <a target="_blank" class="btn" href="{% url distributed_requestions_for_sadik sadik_id=sadik.id %}">
            Сохранить отчет
            </a>
        {% endif %}
        {% for sadik_group, requestions  in groups_with_distributed_requestions.iteritems %}
            {% if requestions %}
                <h3>{{ sadik_group.age_group.name }} ({{ sadik_group.age_group.short_name }}) за {{ sadik_group.year.year }} год</h3>
                {% if user_is_operator %}
                    {% include "operator/includes/sadik_info_distributed_include.html" %}
                {% else %}
                    {% include "anonym/includes/sadik_info_distributed_include.html" %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endwith %}
    {% endif %}
{% endblock %}
