{% extends "operator/base.html" %}
{% load sadiki_core_tags %}

{% block content %}
    <h1>Количество окончательно зачисленных заявок</h1>
    {% for year in years %}
        <a class="btn {% if year == current_year %}btn-primary{% endif %}" href="{% url 'distribution_statistics' year %}">{{ year }}</a>
    {% endfor %}
    <p>количество распределенных мест/количество окончательно зачисленных</p>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>Распределение</th>
            {% for age_group_name in age_groups_names %}
                <th>{{ age_group_name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {# отображаем основную статистику #}
        {% for distribution_name in distributions_names %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>{{ distribution_name }}</td>
                {% for age_group_name in age_groups_names %}
                    {% with element=statistic|element_by_index:forloop.parentloop.counter0|element_by_index:forloop.counter0 %}
                        <td>{{ element.places_decision }}/{{ element.number_of_distributed }}</td>
                    {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
        {# отображаем строку "итого" #}
        <tr>
            <td>Итого:</td>
            {% for age_group_name in age_groups_names %}
                {% with element=statistic|last|element_by_index:forloop.counter0 %}
                    <td><strong>{{ element.places_decision }}/{{ element.number_of_distributed }}</strong></td>
                {% endwith %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
