{% extends "statistics/base.html" %}
{% load sadiki_statistics_tags cache %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block content_title %}
    <h1>{% block title %}Статистика по времени ожидания в очереди{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="well well-small">
        <h3>Дата запуска системы: {{ import_finished_date }}</h3>
    </div>

    {% cache 86400 "wait_time_statistics" %}
        {% show_wait_time_statistics %}
        {% requestions_statistics %}
    {% endcache %}
{% endblock %}
