{% extends 'supervisor/base.html' %}
{% load sadiki_core_tags %}

{% block title %}Информация о учебном годе{% endblock %}

{% block content %}
    <p>Текущий учебный год: {{ current_distribution_year.year }}. Новый учебный год можно начать только после начала календарного года.</p>
    <p>Начало нового учебного года назначает новые возрастные группы для групп в ДОУ. Если в системе нет возрастной группы старшего возраста,
    то группа в ДОУ закрывается, а дети, находившиеся в ней перемещаются в архив. Если в ДОУ нет возрастной группы старшего возраста,
    то дети переходят в очередь и распределеяются в первоочередном порядке.</p>
    <p><span class="error">Внимание! Переход на новый учебный год нельзя будет отменить.</span></p>
    {% url start_distribution_year as start_distribution_year_url %}
    {% action_button_for_url start_distribution_year_url options text="Начать новый год" %}
{% endblock %}