{% extends 'supervisor/base.html' %}
{% load sadiki_core_tags %}


{% block content %}
    <div class="row">
    <div class="span6">
        <p>
            Интерфейс суперпользователя предназначен для разрешения исключительных ситуаций. Через форму поиска
            суперпользователь может найти заявку и изменить у нее дату регистрации, дату рождения и вернуть ее в очередь.
        </p>
        {% if 'esia_auth' in special_apps %}
        {% include 'esia_auth/include/esia_binding_area.html' %}
        {% endif %}
    </div>
    </div>
{% endblock %}
