{% extends 'supervisor/base.html' %}
{% load sadiki_core_tags %}


{% block content %}
    <div class="row">
    <div class="span6">
        <div class="supervisor-info">
            <p>
                Интерфейс суперпользователя предназначен для разрешения исключительных ситуаций. Через форму поиска
                суперпользователь может найти заявку и изменить у нее дату регистрации, дату рождения и вернуть ее в очередь.
            </p>
            <div class="esia-info">
                <div class="block-head">Учетная запись в ЕСИА:</div>
                {% if profile.esia_id %}
                <p><img class="binding-image" src="{{ STATIC_URL }}img/esia-small.png"/>К этой учетной записи привязана учетная запись ЕСИА</p>
                <a class="action-link link-with-image" href="{% url esia_unbind_account %}">
                    <img src="{{ STATIC_URL }}img/icon_not_approved.fw.png"/>
                    Отвязать учетную запись
                </a>
                {% else %}
                <p><img class="binding-image" src="{{ STATIC_URL }}img/esia-small.png"/>
                    К этой учетной записи не привязана учетная запись ЕСИА.
                    Вы можете осуществить привязку, пройдя по ссылке ниже.
                </p>
                <a class="action-link link-with-image" href="{% url esia_bind_account %}">
                    <img src="{{ STATIC_URL }}img/icon_approved.fw.png"/>
                    Привязать учетную запись
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
