{% extends "supervisor/base.html" %}

{% block content %}
    <h1>{% block title %}Подтвеждение операции{% endblock %}</h1>
    <div class="row">
        <div class="span8 offset2">
            <h2>Вы действительно хотите начать новый учебный год?</h2>
            <p>Заявки у которых установлен статус "Не явился" будут сняты с учета,
            остальные заявки, которым было выделено место будут возвращены
            в очередь</p>
        </div>
    </div>
    {% include "core/include/confirmation.html" %}
{% endblock %}
