{% extends 'base.html' %}

{% block content_title %}<h1>{% block title %}Поздравляем Вас с установкой системы «Электроочередь»!{% endblock %}</h1>{% endblock %}


{% block content %}
    <a href="{% url socialauth_begin 'vkontakte-oauth2' %}">Вконтактик</a>
    {% if request.user.is_authenticated %}
        <p>В настоящее время публичный доступ к системе закрыт. Авторизация в личном кабинете временно невозможна.
            Для входа в личный кабинет попробуйте зайти через некоторое время.</p>
    {% else %}
        <p>Для продолжения работы авторизуйтесь в <a href="/adm/">интерфейсе администратора</a>
        и введите данные о детских садах и заявках.</p>
    {% endif %}
{% endblock %}


{% block menu %}{% endblock %}
