{% extends "operator/blanks/base.html" %}
{% load pytils_dt sadiki_core_tags %}
{% block content %}
    <div class="header">
        <p>Начальнику {{ local_authority }} {{ authority_head }}</p>
        <p>Заявитель: <span class="requester_info">{{ requestion.profile.fio }}</span></p>
        <p>Контактный телефон: <span class="requester_info">{{ requestion.profile.phone_number }}</span></p>
        <p>Номер заявки в системе "Электроочередь": <span class="requester_info">{{ requestion.requestion_number }}</span></p>
    </div>
    <div class="content">
        <h2>ЗАЯВЛЕНИЕ</h2>
        В связи с <span class="blank_field">{{ "&nbsp; "|multiply:100|safe }}</span>&nbsp;
        прошу внести изменения в учетные данные <span class="blank_field">{{ "&nbsp; "|multiply:50|safe }}</span>,
        указанные в заявлении на предоставления места в муниципальном дошкольном образовательном
        учреждении {{ municipality_name_genitive }}, изменив <span class="blank_field">{{ "&nbsp; "|multiply:50|safe }}</span>&nbsp;
        с <span class="blank_field">{{ "&nbsp; "|multiply:100|safe }}</span>&nbsp; 
        на <span class="blank_field">{{ "&nbsp; "|multiply:100|safe }}</span>.
        Копии подтверждающих документов на <span class="blank_field">{{ "&nbsp; "|multiply:5|safe }}</span>&nbsp;листах
    </div>
    <table class="footer">
        <tr>
            <td class="date">{{ requestion.registration_datetime|ru_strftime:"%d %B %Y г." }}</td>
            <td class="signature"><span class="blank_field">{{ "&nbsp; "|multiply:20|safe }}</span>&nbsp;/<span class="blank_field">{{ "&nbsp; "|multiply:20|safe }}</span>&nbsp;</td>
        </tr>
    </table>
{% endblock content %}
