{% extends "operator/blanks/base.html" %}
{% load pytils_dt sadiki_core_tags %}
{% block content %}
    <div class="header">
        <p>Начальнику {{ local_authority }} {{ authority_head }}</p>
        <p>Заявитель:</p>
        <p><span class="blank_field">{{ "&nbsp; "|multiply:80|safe }}</span>&nbsp;</p>
        <p>проживающий(ая) по адресу:</p>
        <p><span class="blank_field">{{ "&nbsp; "|multiply:80|safe }}</span>&nbsp;</p>
        <p>Контактный телефон: <span class="requester_info"><p><span class="blank_field">{{ "&nbsp; "|multiply:80|safe }}</span>&nbsp;</p></span></p>
    </div>
    <h2>ЗАЯВЛЕНИЕ</h2>
    <div class="content">
        <p>Прошу зарегистрировать в системе электронной очереди в детские сады «Электроочередь»
        и поставить на учет для предоставления места в муниципальном 
        дошкольном образовательном учреждении (ДОУ) {{ municipality_name_genitive }} моего ребенка <span class="blank_field">{{ "&nbsp; "|multiply:80|safe }}</span>, дата рождения: {{ requestion.birth_date|ru_strftime:"%d %B %Y г." }}</p>
        {% with requestion.areas.all as requestion_areas %}
            <p>Области для зачисления:
                {% if requestion_areas %}
                    {% for area in areas %}{{ area }}{% if not forloop.last %}; {% endif %}{% endfor %}.
                {% else %}
                    Весь муниципалитет.
                {% endif %}
            </p>
        {% endwith %}
        <p>На зачисление в любое ДОУ, отличное от приоритетных {{ requestion.distribute_in_any_sadik|yesno:"согласен, не согласен" }}.</p>
        <p>Приоритетные ДОУ:
            {% with requestion.pref_sadiks.all as requestion_pref_sadiks %}
                {% if requestion_pref_sadiks %}
                    {% for sadik in requestion.pref_sadiks.all %}{{ sadik }}{% if not forloop.last %}, {% endif %}{% endfor %}.
                {% else %}
                    Не указаны.
                {% endif %}
            {% endwith %}
        </p>
        <p>Я ознакомлен(а) с административным регламентом {{ local_authority }} 
        по предоставлению муниципальной услуги 
        «Прием заявлений, постановка на учет и зачисление детей в образовательные учреждения, 
        реализующие основную образовательную программу дошкольного образования (детские сады)»</p>
    </div>
    <table class="footer">
    <tr>
        <td class="date">{{ requestion.registration_datetime|ru_strftime:"%d %B %Y г." }}</td>
        <td class="signature"><span class="blank_field">{{ "&nbsp; "|multiply:20|safe }}</span>&nbsp;/<span class="blank_field">{{ "&nbsp; "|multiply:20|safe }}</span>&nbsp;</td>
    </tr>
    </table>
{% endblock content %}
