{% extends "operator/blanks/base.html" %}
{% load sadiki_core_tags %}
{% block extra_head %}
    <style type="text/css">
    table{
        border: 1px solid black;
    }
    table td{
        padding: 7px 0px 4px 0px;
    }
    ol li{
        margin: 0px;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        <h2>ПРАВИЛА ИСПОЛЬЗОВАНИЯ</h2>
        <h3>учётной записи системы «Электроочередь»</h3>
        <ol>
            <li>Учетная запись системы электронной очереди в детские сады «Электроочередь» выдаётся Заявителю для доступа к Личному кабинету. Передача прав использования учётной записи другим лицам запрещена в любой форме, независимо от наличия у этих лиц прав на осуществление каких-либо действий в системе «Электроочередь».</li>
            <li>Регистрационное имя и пароль используются для авторизации доступа к системе и учёта действий, выполняемых Заявителем.</li>
            <li>Пароль учетной записи является конфиденциальной информацией и должен быть известен только тому лицу, для которого создана учётная запись.</li>
            <li>При создании учётной записи оператором системы устанавливается временный пароль. После получения этого пароля Заявитель входит в систему, самостоятельно устанавливает рабочий пароль.</li>
            <li>Запрещается выполнение любых действий в системе «Электроочередь» с использованием временного пароля, кроме установки рабочего пароля.</li>
            <li>Восстановление пароля учётной записи самостоятельно пользователем невозможно. При утере пароля для его восстановления необходимо обратиться к оператору системы. Для существующей учётной записи будет установлен временный пароль (см. п.4).</li>
            <li>Заявитель несёт личную ответственность за все действия, выполняемые в системе «Электроочередь», с использованием переданной ему учётной записи.
        </ol>
    <h2>АКТ ПЕРЕДАЧИ</h2>
    <h3>учётной записи оператора системы «Электроочередь»</h3>
    <p>Настоящий акт составлен в том, что я, <span class="blank_field">{{ "&nbsp; "|multiply:100|safe }}</span>,
    получил(а) в печатном виде регистрационное имя пользователя системы «Электроочередь» и временный пароль для самостоятельной установки рабочего пароля. С Правилами использования учётной записи ознакомлен(а).</p>
    <table>
        <tr>
            <td>Личная подпись</td>
            <td></td>
        </tr>
        <tr>
            <td>Дата</td>
            <td></td>
        </tr>
    </table>
    <h2>ДАННЫЕ УЧЁТНОЙ ЗАПИСИ</h2>
    <table>
        <tr>
            <td>Регистрационное имя (имя пользователя):</td>
            <td>{{ profile.user }}</td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td>{{ password }}</td>
        </tr>
    </table>
    </div>
{% endblock content %}
