Здравствуйте, {{ requestion.profile.user.get_verbose_name }}!

Вам пришло новое сообщение с сайта {{ scheme }}://{{ domain }}/. Уведомляем вас, что ваша заявка была изменена.

Пользователь, сделавший изменения: {{ user.get_verbose_name }}

Тип изменения: {{ change_type }}

Изменения: {{ changes_message }}

{% if  user.is_administrative_person %}
Действия были выполнены административным лицом, если вы не согласны с изменениями, то у вас есть возможность обжаловать изменения.
{% else %}
Действия были выполнены из под вашей учетной записи, если вы не делали этого, то немедленно измените пароль и исправьте сделанные изменения.
{% endif %}

--
С уважением, администрация {{ scheme }}://{{ domain }}/.
mailto: {{ from_email }}